.ty-qty-in-stock,
.ty-qty-out-of-stock{
    font-weight: normal;
}
.register_in .ty-footer-menu__item a {
    color: #fff;
}
.ty-menu__items {
background-color: #26a69a;
}
.ty-menu__item .ty-menu__item-link {
    color: #ffffff;
}
.ty-logo-container {
    margin-top: 7px;
}
.ty-menu__item {
    border-right: 1px solid #26a69a;
}
.top-menu-grid {
    padding-top: 0;
}
.tygh-header > div {
    padding-top: 15px;
}
.ty-search-magnifier {
    height: 33px;
    width: 33px;
    top: 0;
    right: 0;
    border-radius: 5px;
}
.Newest_Product .ty-mainbox-title {
    padding: 35px 0 0;
    border-bottom: 1px solid #ced6db;
    border-spacing: 10px;
}
.middle_sale_section {
    padding-top: 10px;
}
.homepage-on-sale .ty-mainbox-title {
    border-bottom: 1px solid #ced6db;
    border-spacing: 10px;
    padding-top: 10px;
}
#bl_collection {
    display: inline-flex;
    width: 100%;
}
.inner_col {
    width: 50%;
    float: left;
}
.collection-title {
    padding: 35px 0 15px;
    border-bottom: 1px solid #ced6db;
    border-spacing: 0px;
    margin-bottom: 35px;
}
.collection-title h4 {
    color: #000;
    font-weight: 400;
}
.ty-mainbox-title {
    color: #000;
}
.custom_span .span5 {
    width: 31.3%;
}
.inner_col .img-responsive {
    width: 100%;
}
.banner_sale_section img, .middle_sale_section img {
    width: 100%;
}
.banner_sale_section {
    padding-top: 35px;
}
div#bl_collection p {
    float: left;
    border: 1px solid #666;
    vertical-align: middle;
    display: table-cell;
    border-left: 0;
    padding-left: 25px;
    margin-bottom: 0;
    padding-top: 60px;
    width: 50%;
}
div#bl_collection p span {
    font-size: 18px;
}
.ty-owl-controls {
    margin: 0;
}
.register_in .ty-footer-menu__item {
    margin-bottom: 0;
}
.ty-menu__item > .ty-menu__item-link {
    font-size: 15px;
}

.ty-tabs__content{
    border-top: none;
    padding: 15px 10px;
}

.content-description {
    line-height: 1.7;
}

.ty-discount-label{
    left: 5px;
    right: auto;
    top: 5px;
}

.ty-horizontal-product-filters {
    margin-bottom: 0;
}
.register_in {
    position: relative;
}
.register_in #account_info_links_404:before {
    content: "\e024";
    font-family: glyphs;
    position: absolute;
    left: -33px;
    top: 25%;
    color: #fff;
    font-size: 25px;
    float: left;
}
@media (max-width: 767px) {
    .ty-sidebox__title-toggle {
        top: 6px;
    }
}
@media (min-width: 767px) {
    .ty-menu-vertical .ty-menu__submenu [class*="menu-level-"].ty-menu__item-active > .ty-menu__submenu-item-header .ty-menu__item-link {
        color: #fff;
    }
}