.tygh-header-bg() when(@header_bg_full = true) {
    .top-menu-grid:after {
        background: @menu;
    }
}

@media (max-width: 865px) and (min-width: 768px) {
    .top-menu-grid:after {
        background: @menu;
    }
}

.logged .ty-account-info__title,
.logged .ty-account-info__user-arrow {
    color: @top_panel_links;
}

.ty-dropdown-box__title a,
.ty-minicart__icon,
.ty-dropdown-box .ty-icon-down-micro {
    color: @top_panel_links;
}

.ty-breadcrumbs__a:hover,
.ty-product-filters__item:hover {
    color: @links;
}

.ty-dropdown-box__title.open a,
.ty-dropdown-box__title.open i,
.ty-dropdown-box__title.open .ty-minicart-title {
    color: @links;
}

.ty-column4:hover form,
.ty-column3:hover form,
.ty-column2:hover form,
.ty-column1:hover form {
    .transition(all 200ms);
}

.ty-btn__tertiary:hover {
    .transition(all 300ms);
}

.ty-dropdown-box__title a:hover {
    color: #fff;
}

.ty-dropdown-box__title.open a {
    color: @links;
}

.ty-select-block {
    min-width: 54px;
}

.ty-select-block__a.open,
.ty-select-block__a.open:hover,
.ty-select-block__a.open .ty-select-block__arrow {
    background: #fff;
    color: @links;
}

.ty-tabs__item.active, .ty-tabs .subtab.active {
    background: @links;
}

.ty-text-links__active > .ty-text-links__a,
.no-touch .ty-text-links__a:hover {
    color: @top_panel_links;
}

.ty-mainbox-title,
.ty-mainbox-simple-title {
    color: @links;
}

.ty-sort-dropdown__wrapper.open,
.ty-sort-dropdown__wrapper.open:hover,
.ty-horizontal-product-filters-dropdown__wrapper.open,
.ty-horizontal-product-filters-dropdown__wrapper.open:hover {
    background: @links;
}

.ty-sort-dropdown__content,
.ty-horizontal-product-filters-dropdown__content {
    border-color: @links;
}

.ty-grid-list__item-name .product-title:hover {
    color: @links;
}

.ty-btn__primary {
    background: transparent;
    border: 1px solid @primary_button;
    color: @primary_button;
    border-radius: 30px;
    padding: 8px 19px;
}

.ty-btn__primary:hover {
    background: transparent;
    border-radius: 1px;
    color: @primary_button;
    .transition(all 300ms);
}


.ty-footer-menu__header {
    color: @top_panel_bg;
}

h3.ty-social-link__title,
.ty-footer-form-block__title {
    color: @top_panel_bg;
    font-size: 25px;
}

.ty-lable-subscribe-policy {
    color: @top_panel_bg;
}

.ty-footer-form-block__title {
    padding-right: 20px;
}

.ty-social-link a,
.ty-social-link i {
    color: @top_panel_bg;
}

.ui-widget-header .ui-icon-closethick,
.notification-content-extended h1 span:hover,
.notification-content-extended h1 span {
    color: darken(@base, 40%);
}

.ui-widget-header .ui-dialog-titlebar-close.ui-state-hover span:before {
    color: darken(@base, 30%);
}

@media (max-width: 767px) {
    .ty-footer-menu__header {
        border-bottom: 1px solid darken(@base, 10%);
    }
}

a.bottom-copyright {
    color: @links;
}

.ty-select-block__a,
.ty-select-block__a:hover {
    color: @top_panel_links;
    border: 1px solid rgba(255, 255, 255, 0.4);
}

.buttons-container .ty-btn__primary,
.buttons-container .ty-btn__primary:hover {
    border: 1px solid @links;
    color: @links;
}

.ty-btn__secondary:hover {
    background: transparent;
    color: @links;
    border-radius: 1px;
    .transition(all 300ms);
}

.ty-btn__tertiary {
    padding: 8px 18px;
    border: 1px solid #C7C7C7;
    color: @tertiary_button;
    border-radius: 30px;
    background: rgba(0, 0, 0, 0);
}

.ty-quick-view-button .ty-btn__secondary {
    border-radius: 30px;
    color: @primary_button;
    border-color: @primary_button;
}

.ty-quick-view-button .ty-btn__secondary:hover {
    border-radius: 0px;
    .transition(all 300ms);
}

div.ui-dialog .ui-dialog-title {
    color: @links;
}

.ty-sidebox__title {
    background: @links;
    padding-left: 12px;
}

.ty-sidebox__title-toggle {
    color: #fff;
    top: 6px;
    right: 2px;
}

.footer-stay-connected {
    background: #fff;
    border-top: 5px solid @links;
    border-bottom: 1px solid darken(@base, 20%);
}

.ty-product-img {
    border: 1px solid darken(@base, 10%);
}

.ty-cr-phone-number-link .ty-cr-phone,
.ty-cr-phone-number-link .ty-cr-phone .ty-cr-phone-prefix,
.ty-cr-link a,
.ty-cr-link a:hover {
    color: @menu_links;
    text-decoration: none
}

@media (max-width: 767px) { 
    .ty-horizontal-product-filters-dropdown__content {
        border-left: none;
        border-right: none;
    }
}

@rounded_corners: false;
@links: #ea3556;
@menu_links: #ffffff;
@menu: #d22f4d;
@base: #efefef;
@font: #333333;
@primary_button: #d22f4d;
@secondary_button: #d22f4d;
@tertiary_button: #A8A8A8;
@sidebar: #fff;
@price: #343434;
@discount_label: #ce3688;
<<<<<<< HEAD
@product_label: @discount_label;
@shipping_label: @primary_button;
=======
>>>>>>> 98366e48fbf45a4d3d9a67b3baa6f46cdd3ff868
@in_stock: #2ECC71;
@out_of_stock: #2ECC71;
@top_panel_links: #ffffff;
@top_panel_text: #555555;
@footer_text: #717171;
@decorative: #e3e3e3;

@general_bg_color: #ffffff;
@general_bg_image: transparent;
@general_bg_repeat: repeat;
@general_bg_scroll: scroll;

@top_panel_bg: #ea3556;
@top_panel_bg_full: true;
@top_panel_bg_transparent: false;
@top_panel_bg_grad_stop: #ea3556;

@header_bg: #ea3556;
@header_bg_full: true;
@header_bg_transparent: false;
@header_bg_grad_stop: #ea3556;

@content_bg: #ffffff;
@content_bg_full: false;
@content_bg_transparent: false;

@footer_bg: #ffffff;
@footer_bg_full: true;
@footer_bg_transparent: false;
@footer_bg_grad_stop: #ffffff;

@body_font: Didact Gothic,sans-serif;
@body_font_size: 13px;
@body_font_style: normal;
@body_font_weight: normal;
@headings_font: Didact Gothic,sans-serif;
@headings_font_size: 30px;
@headings_font_decoration: none;
@headings_font_style: normal;
@headings_font_weight: bold;
@links_font: Didact Gothic,sans-serif;
@links_font_size: 13px;
@links_font_decoration: none;
@links_font_style: normal;
@links_font_weight: normal;
@price_font: Didact Gothic,sans-serif;
@price_font_size: 20px;
@price_font_decoration: none;
@price_font_style: normal;
@price_font_weight: bold;
@buttons_font: Didact Gothic,sans-serif;
@buttons_font_size: 14px;
@buttons_font_decoration: none;
@buttons_font_style: normal;
@buttons_font_weight: normal;