{foreach from=$block_types key="type" item="block"}
    {if $block.is_manageable}
<<<<<<< HEAD
        <div class="select-block {if $purpose === "wysiwyg"}cm-create-bm-block{else}cm-add-block bm-action-new-block{/if} {if $manage == "Y"}bm-manage{/if}"
             data-ca-block-type="{$block.type}"
             data-ca-block-name="{$block.name}"
        >
=======
        <div class="select-block cm-add-block bm-action-new-block {if $manage == "Y"}bm-manage{/if}">
>>>>>>> 98366e48fbf45a4d3d9a67b3baa6f46cdd3ff868
            <input type="hidden" name="block_data[type]" value="{$type}" />
            <input type="hidden" name="block_data[grid_id]" value="{$grid_id}" />

            <div class="select-block-box">
                <div class="bmicon-{$block.type|replace:"_":"-"}"></div>
            </div>

            <div class="select-block-description">
                <strong title="{$block.name}">{$block.name|truncate:20:"...":true|escape:html|replace:'...':'&hellip;' nofilter}</strong>
                <p>{$block.description}</p>
            </div>
        </div>
    {/if}
<<<<<<< HEAD
{/foreach}
=======
{/foreach}
>>>>>>> 98366e48fbf45a4d3d9a67b3baa6f46cdd3ff868
