<<<<<<< HEAD
{include file="common/subheader.tpl" title=__("bestselling") target="#acc_bestsellers"}
<div id="acc_bestsellers" class="collapse in {if !$allow_edit_sales_amount}cm-hide-inputs{/if}">
=======
{if $auth.user_type=="A"}
{include file="common/subheader.tpl" title=__("bestselling") target="#acc_bestsellers"}
<div id="acc_bestsellers" class="collapse in">
>>>>>>> 98366e48fbf45a4d3d9a67b3baa6f46cdd3ff868
    <div class="control-group">
        <label class="control-label" for="sales_amount">{__("sales_amount")}</label>
        <div class="controls">
        <input type="text" id="sales_amount" name="product_data[sales_amount]" value="{$product_data.sales_amount|default:"0"}" class="input-large" size="10" />
        </div>
    </div>
<<<<<<< HEAD
</div>
=======
</div>

{/if}
>>>>>>> 98366e48fbf45a4d3d9a67b3baa6f46cdd3ff868
