@import "../base/variables.less";

.dark-background {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: @close_background;
    z-index: 110;
    cursor: pointer;
}

.sd-mailing-list {
    .title,
    .title > p {
        color: @blue;
        font: normal 24px 'Open Sans', sans-serif;
        margin: 0;
    }

    .subtitle,
    .subtitle > p {
        color: @grey_dark;
        font-size: 18px;
    }

    .text,
    .text > p {
        color: @grey_dark;
        font-size: 16px;
    }

    .btn-close {
        color: @grey;
        cursor: pointer;
        font-size: 13px;
        font-weight: bold;
        position: absolute;
        right: 10px;
        top: 5px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;

        &:before {
            font-family: 'glyphs';
            content: "\e009";
        }

        &:hover,
        &:active {
            color: @grey_light;
        }
    }

    .ty-input-text {
        width: 100%;
        padding-right: 8px;
        height: 40px;
        background: @white;
        border-color: @grey_light;
        border-width: 1px;
        color: @grey;

        &:focus {
            color: @grey_23;
            border-color: @grey_23;
        }
    }

    .cm-failed-email-field {
        border-color: @error;
    }

    .ty-input-append {
        margin: 15px 0;
    }

    .ty-btn-go {
        position: static;
        height: auto;
        width: 100%;
        margin-top: 10px;
        padding: 10px 16px;
        border: none;
        font: normal 16px/32px 'Open Sans', sans-serif;
        line-height: 1;

        &:hover,
        &:focus,
        &:active {
            background: lighten(@red, 6%);
            outline: none;
        }
    }
    .ty-btn-subscribe {
        position: static;
        display: inherit;
        height: auto;
        margin-top: 10px;
        padding: 10px 16px;
        border: none;
        font: normal 16px/32px 'Open Sans', sans-serif;
        line-height: 1;
        background: @red;

        &:hover,
        &:focus,
        &:active {
            background: lighten(@red, 6%);
            outline: none;
        }
    }
}

.sd-subscribe-text-button {
    margin-top: 15px;
}
