.sd-subscribe-fixed {
    position: fixed;
    bottom: 15px;
    padding: 10px;
    z-index: 100;
    width: 100%;
    max-width: 300px;
    background: @white;

    &__image-wrapper,
    &__content-wrapper {
        width: 100%;
        text-align: center;
    }

    &__image {
        width: 60px;
        height: 65px;
    }

    button.ty-btn-go {
        background: @red;
        color: @white;
        box-sizing: border-box;
    }

    &.on-left {
        left: 15px;
    }

    &.on-right {
        right: 15px;
    }

    &.on-left,
    &.on-right {
        bottom: 15px;
        border: 1px solid @grey_light;
        .mixin_fixed_settings_mobile(0px, 0px);

        @media (max-width: 767px) {
            bottom: 0;
        }
    }

    &.in-center {
        z-index: 115;
        padding: 20px;
        bottom: calc(~'50% - 211px');

        @media (min-width: 768px) {
            left: calc(~'50% - 370px');
            max-width: 700px;

            .sd-subscribe-fixed__image {
                height: 125px;
                width: 120px;
            }

            .ty-btn-go,
            .ty-input-text {
                height: 50px;
            }

            .ty-btn-go {
                max-width: 435px;
                font-size: 18px;
            }

            .ty-input-text {
                font-size: 16px;
                max-width: 435px;
            }

            .title {
                font-size: 34px;
                margin-top: 15px;
            }

            .subtitle {
                margin-top: 15px;
            }
        }

        .mixin_fixed_settings_mobile();
    }

    &.rounded {
        background: @green;

        .text,
        .title,
        .subtitle {
            &,
            & > p {
                color: @white;
            }
        }

        .btn-close {
            color: @white;

            &:hover,
            &:active {
                color: darken(@white, 10%);
            }
        }

        .ty-btn-go,
        .ty-btn-subscribe,
        .ty-input-text {
            border-radius: 25px;
        }

        .ty-input-text {
            border-width: 2px;
        }

        .help-inline p {
            color: @white !important;
            font-weight: bold;
        }
    }
}