.sd-subscribe-default {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    background: @white;
    border: 1px solid @grey_light;
    margin: 15px 0;

    &__image-wrapper,
    &__content-wrapper {
        width: 100%;
        text-align: center;
    }

    &__image {
        width: 30%;
        max-width: 100px;
    }

    button.ty-btn-go {
        background: @red;
        color: @white;
        box-sizing: border-box;
    }

    &.left {
        .sd-subscribe-default__content-wrapper {
            text-align: start;
        }
    }
}
