@font-face {
    font-family: 'sd-messaging';
    font-weight: normal;
    font-style: normal;
    src: url('../media/fonts/sd-messaging.eot');
    src: url('../media/fonts/sd-messaging.eot?#iefix') format('embedded-opentype'),
        url('../media/fonts/sd-messaging.woff') format('woff'),
        url('../media/fonts/sd-messaging.ttf') format('truetype'),
        url('../media/fonts/sd-messaging.svg') format('svg');
}

.ty-sd_messaging_system {
    &-message {
        position: relative;
        width: 100%;
        display: inline-block;
        vertical-align: top;

        &__content {
            margin-top: 15px;
            margin-bottom: 2px;
            padding-left: 70px;
            position: relative;
            white-space: normal;

            a {
                display: block;
                position: relative;
            }
        }

        &__message {
            word-break: break-word;
        }

        &__date {
            opacity: .5;
            font-weight: normal;

            @media @e-readers-max {
                display: block;
                margin-left: 0;
            }
        }

        &__user-image {
            border-radius: 50%;
            padding: 1px;
            border: 1px solid @borderColor;
        }

        &__author {
            display: inline-block;
            position: absolute;
            left: 0;
            top: 0;

            .ty-no-image {
                width: 46px;
                height: 46px;
                background: white;
                border: none;
                display: inline-block;
                min-width: 0;
                border-radius: 50%;
            }
        }
    }

    &-tickets-list {
        &__ticket-new {
            border: 2px solid @newTicket;
        }
    }

    &-recipient-user {
        &__image {
            display: inline-block;
            vertical-align: top;
            padding: 9px 7px 8px;
            margin-left: 15px;
            padding-right: 19px;

            img,
            .ty-no-image {
                border-radius: 50%;
            }
        }

        &__name {
            margin-bottom: 5px;
            margin-top: 4px;
            display: block;
            font-weight: 600;
            font-size: 14px;

            .ty-sd_messaging_system-last-message__date {
                margin-left: 7px;
            }
        }
    }

    &-last-message {
        &__message {
            @media @smartphone and @tablet-max {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            @media @smartphone {
                width: 200px;
            }

            @media @e-readers-min {
                width: 320px;
            }

            @media @portraits {
                width: 440px;
            }

            @media @tablet-min {
                width: auto;
            }
        }

        &__date {
            color: @lastMessageDate;
            font-size: 12px;
            font-weight: 400;

            i {
                font-size: 13px;
            }

            &.dotted:not(.pull-right):before {
                content: '\2022';
                margin-right: 10px;
            }
        }
    }

    &-name {
        font-weight: 700;
    }

    &-textarea {
        resize: none;
        margin-bottom: 10px;
        border-radius: 0;
        box-sizing: border-box;
        transition: all 150ms;
        width: 100%;
        height: 82px;
    }

    &-all {
        position: relative;
        display: inline-block;
        clear: both;
        margin-bottom: 3px;
        padding: 10px;
        vertical-align: top;
        border-radius: 5px;
        background-color: @messageBlock;

        &:before {
            position: absolute;
            top: 19px;
            display: block;
            width: 8px;
            height: 8px;
            content: '\00a0';
            -webkit-transform: rotate(29deg) skew(-35deg);
            transform: rotate(29deg) skew(-35deg);
        }
    }
}

.ty-sd_messaging_system__create-ticket .sd_messaging_system__icon {
    font-family: 'sd-messaging';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 0.9;
    top: 1px;

    &.icon-only {
        margin-right: 0;
    }

    &:after {
        content: '\e88e';
    }
}

.ty-sd_messaging {
    &__body {
        overflow: visible;
        font-size: 11px;
        line-height: 16px;

        .ty-sd_messaging__body {
            position: relative;
        }
    }

    &__list {
        &-linked {
            &.ty-sd_messaging__message
            .ty-sd_messaging__wrapper {
                padding: 15px;

                &.ty-sd_messaging__ticket {
                    @media (max-widt_: 767px) {
                        padding: 7px;
                    }
                }
            }

            .ty-sd_messaging {
                margin-top: 0;
                padding: 0;
            }

            .ty-sd_messaging__wrapper {
                display: block;
            }
        }

        &-bordered > li {
            &:first-child {
                padding-top: 0;
                border-bottom-width: 0;
            }

            &:last-child {
                border-bottom-width: 2px;
            }

            border: 2px solid @lightGray;
            padding-top: 8px;
            margin-top: 10px;
        }

        margin-bottom: 0;
    }

    &-no-image__circle {
        fill: white;
        stroke: @borderColor;
        stroke-width: 3px;
    }

    &-no-image__fill {
        fill: @borderColor;
        fill-rule: evenodd;
    }

    &__ticket-new {
        background: @primary_button;

        .ty-sd_messaging_system-last-message__date,
        .ty-sd_messaging_system-recipient-user__name,
        .ty-sd_messaging_system-last-message__message,
        &:after {
            color: white;
        }

        &:hover .ty-sd_messaging_system-last-message__date,
        &:hover .ty-sd_messaging_system-recipient-user__name,
        &:hover .ty-sd_messaging_system-last-message__message,
        &:hover:after {
            color: @lastMessageDate;
        }
    }

    &__wrapper {
        &:after {
            position: absolute;
            right: 30px;
            top: calc(44%);
            content: "\e01b";
            font-size: 15px;
            display: inline-block;
            font-family: glyphs;
            speak: none;
            text-transform: none;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
        }

        @media (max-width: 767px) {
            &:after {
                content: "";
            }
        }
    }
}

.ty-discussion-post {
    &__buttons-form {
        margin: 0 auto;
        float: none;
    }

    &__form {
        max-width: 680px;
        margin: 0 auto;
        font-size: 0;

            .ty-btn.ty-btn__send-right {
                &,
                &:hover {
                    border-radius: 0;
                    box-sizing: border-box;
                    position: relative;
                    text-transform: none;
                    font-size: 14px;
                }
            }

            .ty-btn.ty-btn__send-left {
                &,
                &:hover {
                    border-radius: 0;
                    z-index: 3;
                    position: relative;
                    width: 90px;
                    box-sizing: border-box;
                    margin-right: 20px;
                    margin-bottom: 10px;
                    text-transform: none;
                    display: inline-block;
                    font-size: 14px;
                }
            }

            & .ty-btn.ty-btn__send-refresh {
                &,
                &:hover {
                    margin-bottom: 10px;
                    background: transparent;
                    text-transform: none;
                    font-size: 14px;
                    color: #555;
                    padding: 5px 14px;
                }
            }

        @media (max-width: 767px) {
            .ty-btn.ty-btn__send-refresh, 
            .ty-btn.ty-btn__send-refresh:hover {
                background: transparent;
                text-transform: none;
                font-size: 14px;
                color: #555;
                margin-bottom: 10px;
            }
        }
    }
}

.ty-discussion-post__form [disabled=disabled] {
    opacity: 0.5;
    pointer-events: none;
}

.ticket-messages {
    &-block {
        position: relative;

        &:before {
            content: "";
            height: 100%;
            vertical-align: bottom;
        }

        & + .ty-discussion-post__buttons {
            position: fixed;
            left: 0;
            right: 0;
            bottom: 0;
            -webkit-overflow-scrolling: auto;
            z-index: 1000;
            border-top: 1px solid @borderColor;

            @media (max-width: 767px) {
                padding: 10px;
            }
        }
    }

    &-list {
        height: auto;
        overflow-y: auto;
        overflow-x: hidden;
        display: block;
        position: relative;
        min-height: 150px;

        .ty-no-items {
            background: none;
        }

        @media (max-width: 767px) {
            min-width: 0;
        }
    }
}

.recipient-message {
    padding-left: 70px;
    padding-right: 120px;
    margin-left: 50px;

    .ty-sd_messaging_system-all {
        &:before {
            left: -3px;
            background-color: @messageBlock;
        }
    }

    @media @smartphone and @tablet-max {
        margin: 15px 10px 0 10px;
    }

    @media @smartphone and @e-readers-max {
        & .ty-pict {
            display: none;
        }

        padding-left: 10px;
    }
}

.author-message {
    padding-right: 70px;
    padding-left: 120px;
    margin-right: 50px;
    text-align: right;

    .ty-sd_messaging_system-message__author {
        left: auto;
        right: 0;
        margin-right: 11px;
    }

    .ty-sd_messaging_system-name {
        text-align: right;
    }

    .ty-sd_messaging_system-all {
        padding-right: 20px;
        padding-left: 20px;

        &:before {
            right: -3px;
            background-color: @messageBlock;
        }
    }

    @media @smartphone and @tablet-max {
        margin: 7px 10px 0 10px;
    }

    @media @smartphone and @e-readers-max {
        & .ty-sd_messaging_system-message__author {
            display: none;
        }

        padding-right: 10px;
        padding-left: 10px;
    }
}

.short-message-container {
    cursor: pointer;
}

.new-message {
    color: @newTicket;
    font-weight: 600;
}

.ty-helper-container .tygh-content .messages-list {
    min-height: ~"calc(100vh - 515px)";
    padding-top: 40px;
}

@media (max-width: 767px) {
    .ticket-messages {
        &_list {
            max-width: ~"calc(100% - 20px)";
        }
    }

    .ticket_messages {
        min-height: ~"calc(100vh - 434px)";
    }

    .ticket_messages_list {
        padding-bottom: 211px;
        width: ~"calc(100% - 20px)";
    }

    .ty-sd_messaging_system {
        &-textarea {
            float: left;
            width: 100%;
            height: 40px;
            margin-bottom: 5px;
        }

        &-message__author {
            .author-message & {
                right: 5px;
            }
        }
    }

    .span16.top-menu-grid {
        padding-top: 0;
    }
}

.ty-last-message {
    word-break: break-word;
}

.ty-no-messages {
    padding-left: 362px;
}

.ty-sd_messaging__list-linked .ty-sd_messaging__wrapper:focus,
.ty-sd_messaging__list-linked .ty-sd_messaging__wrapper:hover {
    background-color: @listLinkedMessage;
}

.ty-sd_messaging_system-recipient-user__image, .ty-sd_messaging__body {
    display: table-cell;
    vertical-align: middle;
}

.ty-sd_messaging_system-recipient-user__image img:not(.media-preview),
.media-right img:not(.media-preview),
.thumbnail .ty-sd_messaging img:not(.media-preview) {
    max-width: none;
}

.ty-sd_messaging, .ty-sd_messaging__body {
    position: relative;
}

svg.no-image-icon {
    overflow: visible;
}