.wk-product-sold-label{
    position: absolute;
    bottom: 0px;
    right: 0px;
    background: #CC4020;
    color: white;
    z-index: 1;
    .wk-product-label-item{
        float: left;
        height: 28px;
        font-size: 14px;
        white-space: nowrap;
        line-height: 28px;
        padding: 0 10px 0 12px;
        color: #fff;
    }
}
.ty-product-block .wk-product-sold-label{
    z-index: 1;
}
.ty-compact-list__image{
    position: relative !important;
}