<<<<<<< HEAD
<div class="cm-hide-save-button hidden {if $is_form_readonly}cm-hide-inputs{/if}" id="content_variations"></div>
=======
{if $product_data.product_type === "\Tygh\Addons\ProductVariations\Product\Manager::PRODUCT_TYPE_CONFIGURABLE"|constant}
    <div class="cm-hide-save-button hidden {if $is_form_readonly}cm-hide-inputs{/if}" id="content_variations"></div>
{/if}
>>>>>>> 98366e48fbf45a4d3d9a67b3baa6f46cdd3ff868
