{assign var="_cms_mag_set" value="cms_mag"|fn_set_cookie:"true":3600}
<script type="text/javascript">
    var check = "{$_cms_mag_set}";
    {literal}
    if (check === true) {
        $("head").append('<meta name="cmsmagazine" content="c625963813fc0db1e0c69a0f7ba350f6" />');
    }
    {/literal}
</script>