@cMessageBorder: #e7e8ec;
@borderColor: #d2dae2;
@newTicket: #ff4136;
@lastMessageDate: #999;
@messageBlock: #eceff1;
@listLinkedMessage: #f7f7f7;
@sendButton: #4fbe31;
@lightGray: #eee;
@rgbaBlue: rgba(0,0,255,0.05);

@smartphone: ~"(min-width: 320px)";
@e-readers-min: ~"(min-width: 481px)";
@e-readers-max: ~"(max-width: 481px)";
@portraits: ~"(min-width: 641px)";
@tablet-min: ~"(min-width: 961px)";
@tablet-max: ~"(max-width: 961px)";