{if $product.is_vendor_products_list_item}
    <div class="ty-sellers-list__options hidden">
        {if $product.selected_options}
            {foreach $product.selected_options as $product_option_id => $product_option}
                <input type="hidden"
                       name="product_data[{$product.product_id}][product_options][{$product_option_id}]"
                       value="{$product_option}"
                />
            {/foreach}
        {/if}
    </div>
<<<<<<< HEAD
=======
{/if}

{if $product.vendor_product_id}
    <input type="hidden"
           name="company_id"
           value="{$company_id|default:$smarty.request.company_id}"
    />
    <input type="hidden"
           name="product_data[{$product.product_id}][extra][company_id]"
           value="{$company_id|default:$smarty.request.company_id}"
    />
    <input type="hidden"
           name="product_data[{$product.product_id}][extra][vendor_product_id]"
           value="{$product.vendor_product_id}"
    />
>>>>>>> 98366e48fbf45a4d3d9a67b3baa6f46cdd3ff868
{/if}