.sd-stripe-payment-settings .control-label {
    min-width: 200px;
}

.form-horizontal .sd-stripe-payment-settings .controls {
    margin-left: 220px;
}

.sd-stripe-info-about-check {
    max-width: 350px;
    padding: 10px;
    border: solid 1px red;
    background-color: rgb(249, 215, 215);
    margin-top: 10px;
}

.stripe-button-el {
    display: none !important;
}

.alipay-account-btn {
    width: auto;
}