<label for="elm_category_code" class="checkbox"><input type="checkbox" value="category_code" name="selected_fields[data][]" id="elm_category_code" checked="checked" class="cm-item-s" />{__("category_code")}</label>