<div class="hidden" id="new_thread_dialog_{$object_id}" title="{if $vendor_name}{__("vendor_communication.contact_vendor_name", ["[vendor_name]" => $vendor_name])}{else}{__("vendor_communication.contact_vendor")}{/if}">
    <form action="{""|fn_url}" method="post" class="cm-ajax cm-form-dialog-closer" name="add_thread_form_{$object_id}" id="new_thread_form_{$object_id}">
        <input type="hidden" name="result_ids" value="new_thread_message_{$object_id}" />
        <input type="hidden" name="redirect_url" value="{$config.current_url}" />
        <input type="hidden" name="thread[company_id]" value="{$company_id}" />
        <input type="hidden" name="thread[object_type]" value="{$object_type}" />
        <input type="hidden" name="thread[object_id]" value="{$object_id}" />

        {if $product}
            <div class="ty-vendor-communication-product-info-container">
                <div class="ty-vendor-communication-product-info-image">
                    {include file="common/image.tpl" images=$product.main_pair image_width=$settings.Thumbnails.product_cart_thumbnail_width image_height=$settings.Thumbnails.product_cart_thumbnail_height}
                </div>
                <div class="ty-vendor-communication-product-info-header">
                    <h3 class="ty-product-block-title"><bdi>{$product.product}</bdi></h3>
<<<<<<< HEAD
                    {hook name="products:product_additional_info"}
                    {/hook}
=======
>>>>>>> 98366e48fbf45a4d3d9a67b3baa6f46cdd3ff868
                </div>
            </div>
        {/if}

        <div id="new_thread_message_{$object_id}">
            <div class="ty-control-group">
                <label for="thread_message_{$object_id}" class="ty-control-group__title cm-required">{__("your_message")}</label>
                <textarea id="thread_message_{$object_id}" name="thread[message]" class="ty-input-textarea ty-input-text-large" rows="5" cols="72">{$initial_message}</textarea>
            </div>
        <!--new_thread_message_{$object_id}--></div>

        <div class="buttons-container">
            {include file="buttons/button.tpl" but_text=__("send") but_meta="ty-btn__primary cm-post cm-reset-link" but_role="submit" but_name="dispatch[vendor_communication.create_thread]"}
        </div>
    </form>
</div>
