#addon_cp_image_optimization i.exicon-box,
#addon_cp_image_optimization i.exicon-box-blue {
	background: url(../../../media/images/addons/cp_image_optimization/cart-power-addon__icon.png) center 0 no-repeat;
	margin: 0;
	width: 36px;
	height: 36px;
}
#addon_cp_image_optimization.cm-row-status-n i.exicon-box,
#addon_cp_image_optimization.cm-row-status-n i.exicon-box-blue {
	margin: 0;
	background-position: center -44px;
}
