.sd_vmfv_calendars {
    text-align:center;
    .control-group {
        margin: 0;
        padding: 0;
        border: 3px solid white;
        .controls {
            margin-left: 0;
            float: right;
            display: none;
        }
    }
    .control-label {
        width: 100%;
        text-align: center;
    }
    td {
        min-width: 30px;
        text-align: center;
    }
    .sd_vmfv_calendar{
        border: 1px solid #e9e9e9;
        display: inline-block;
        vertical-align: top;
        margin-top: 10px;
        margin-right: 10px;
        padding: 10px;
    }
    .sd_vmfv_control_group_checked {
        border: 3px solid red;
        background-color: #d7f5d3;
    }
    .sd_vmfv_control_group_unchecked {
        background-color: #d7f5d3;
    }
    .sd_vmfv_control_group_disable {
        background-color: #e0dddd;
    }
}