{if $tax}
    {assign var="id" value=$tax.tax_id}
{else}
    {assign var="id" value=0}
{/if}

{capture name="mainbox"}

{capture name="tabsbox"}

<form action="{""|fn_url}" enctype="multipart/form-data" method="post" name="tax_form" class="form-horizontal form-edit {if ""|fn_check_form_permissions} cm-hide-inputs{/if}">
<input type="hidden" name="tax_id" value="{$id}" />
<input type="hidden" name="destination_id" value="{$destination_id}" />
<input type="hidden" name="selected_section" value="{$smarty.request.selected_section}" />

<div id="content_general">
<fieldset>
    {hook name="taxes:general_content"}
    <div class="control-group">
        <label for="elm_tax" class="control-label cm-required">{__("name")}:</label>
        <div class="controls">
            <input type="text" name="tax_data[tax]" id="elm_tax" size="30" value="{$tax.tax}" class="input-text-large main-input" />
        </div>
    </div>
    
    <div class="control-group">
        <label class="control-label" for="elm_regnumber">{__("regnumber")}:</label>
        <div class="controls">
            <input type="text" name="tax_data[regnumber]" id="elm_regnumber" size="30" value="{$tax.regnumber}" class="input-text" />
        </div>
    </div>
    
    <div class="control-group">
        <label class="control-label" for="elm_priority">{__("priority")}:</label>
        <div class="controls">
            <input type="text" name="tax_data[priority]" id="elm_priority" size="5" value="{$tax.priority}" class="input-text" />
        </div>
    </div>
    
    <div class="control-group">
        <label for="elm_address_type" class="control-label cm-required">{__("rates_depend_on")}:</label>
        <div class="controls">
        <select name="tax_data[address_type]" id="elm_address_type">
            <option value="S" {if $tax.address_type == "S"}selected="selected"{/if}>{__("shipping_address")}</option>
            <option value="B" {if $tax.address_type == "B"}selected="selected"{/if}>{__("billing_address")}</option>
        </select>
        </div>
    </div>
    
    {include file="common/select_status.tpl" input_name="tax_data[status]" id="elm_tax_data" obj=$tax}
    
    <div class="control-group">
        <label class="control-label" for="elm_price_includes_tax">{__("price_includes_tax")}:</label>
        <div class="controls">
            <input type="hidden" name="tax_data[price_includes_tax]" value="N" />
            <input type="checkbox" name="tax_data[price_includes_tax]" id="elm_price_includes_tax" value="Y" {if $tax.price_includes_tax == "Y"}checked="checked"{/if} />
        </div>
    </div>
    {/hook}
</fieldset>
<!-- id="content_general" --></div>

<div id="content_tax_rates">

<div class="table-responsive-wrapper">
    <table class="table table-middle table-responsive">
    <thead>
    <tr>
        {hook name="taxes:rates_header"}
<<<<<<< HEAD
        <th>{__("rate_area")}</th>
=======
        <th>{__("location")}</th>
>>>>>>> 98366e48fbf45a4d3d9a67b3baa6f46cdd3ff868
        <th>{__("rate_value")}</th>
        <th>{__("type")}</th>
        {/hook}
    </tr>
    </thead>
    {foreach from=$destinations item=destination}
    {assign var="d_id" value=$destination.destination_id}
    <tr>
        {hook name="taxes:rates_item"}
<<<<<<< HEAD
        <td data-th="{__("rate_area")}">{$destination.destination}</td>
=======
        <td data-th="{__("location")}">{$destination.destination}</td>
>>>>>>> 98366e48fbf45a4d3d9a67b3baa6f46cdd3ff868
        <td data-th="{__("rate_value")}"><input type="hidden" name="tax_data[rates][{$d_id}][rate_id]" value="{$rates.$d_id.rate_id}" />
            <input type="text" name="tax_data[rates][{$d_id}][rate_value]" value="{$rates.$d_id.rate_value}" class="input-text" /></td>
        <td data-th="{__("type")}">
            <select name="tax_data[rates][{$d_id}][rate_type]">
                <option value="F" {if $rates.$d_id.rate_type == "F"}selected="selected"{/if}>{__("absolute")} ({$currencies.$primary_currency.symbol nofilter})</option>
                <option value="P" {if $rates.$d_id.rate_type == "P"}selected="selected"{/if}>{__("percent")} (%)</option>
            </select>
        </td>
        {/hook}
    </tr>
    {/foreach}
    </table>
</div>
<!-- id="content_tax_rates" --></div>

{hook name="taxes:tabs_content"}
{/hook}

{capture name="buttons"}
    {include file="buttons/save_cancel.tpl" but_name="dispatch[taxes.update]" but_role="submit-link" but_target_form="tax_form" save=$id}
{/capture}

</form>

{hook name="taxes:tabs_extra"}
{/hook}

{/capture}
{include file="common/tabsbox.tpl" content=$smarty.capture.tabsbox track=true active_tab=$smarty.request.selected_section}

{/capture}

{if $runtime.mode == "add"}
    {assign var="title" value=__("new_tax")}
{else}
    {$title_start = __("editing_tax")}
    {$title_end = $tax.tax}
{/if}
{include file="common/mainbox.tpl" title_start=$title_start title_end=$title_end title=$title content=$smarty.capture.mainbox select_languages=true buttons=$smarty.capture.buttons}
