.ty-companies__unfollow,
.ty-companies__my-followers {
    float: right;
}

.ty-companies__check {
    float: left;
}

.ty-companies__check label {
    display: block;
    padding-right: 15px;
}

.ty-companies__check label input {
    width: 13px;
    height: 13px;
    vertical-align: bottom;
    position: relative;
}

.ty-my-followers {
    display: inline-block;
}

.ty-companies__info {
    overflow: hidden;
    padding-left: 25px;
    display: inline-block;
    width: 65%;
}

.ty-companies_news-header {
    padding: 25px 0 10px 0;
}

.ty-news__date {
    display: inline-block;
    margin-bottom: 15px;
    margin-right: 10px;
    color: #777777;
    font-weight: normal;
    font-size: 12px;
}

.ty-news__author {
    display: inline-block;
    margin-bottom: 15px;
    padding-left: 12px;
    border-left: 1px solid #adadad;
    color: #777777;
    font-weight: normal;
    font-size: 12px;
}

.ty-follower-list__name,
.ty-follower-list__date {
    width: 28%;
}

.ty-news__item {
    border-bottom: 1px solid #edeff1;
    padding-bottom: 30px;
    margin: -1px;
    margin-bottom: 50px;
    font-size: 14px;
}

.ty-follow-update-news,
.ty-no-items {
    margin-top: 15px;
}

