{strip}

<div class="help-tutorial-wrapper">
    <div class="help-tutorial-content clearfix {if $items|count > 1}help-tutorial-content_width_big{/if}{if $open} open{/if}" id="help_tutorial_content">
        {if $items|count > 1}
            {assign var="width" value="460"}
        {else}
            {assign var="width" value="640"}
        {/if}
        {assign var="align" value="left"}
        {foreach from=$items item=hash key="key"}
            {if $key == 1}
                {assign var="align" value="right"}
            {/if}
            <div class="help-tutorial-iframe-wrapper">
<<<<<<< HEAD
                <iframe width="{$width}" height="360" src="//www.youtube.com/embed/{$hash}?wmode=transparent&rel=0&html5=1" frameborder="0" allowfullscreen align="{$align}"></iframe>
=======
               <iframe width="560" height="315" src="https://www.youtube.com/embed/LgMcK1bNjSI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
            <div class="bantuan">
                <h1>Need Help?</h1>
                <ul>
                    <li><a href="https://help.yulibu.com/en/seller-help" target="_blank" >Guide</a></li>
                    <li><a href="https://help.yulibu.com/en/forum-en" target="_blank" >Forum</a></li>
                    <li><a href="https://help.yulibu.com/en/contact-us" target="_blank" >Contact</a></li>
                    <li><a href="https://help.yulibu.com/en/blog" target="_blank" >Blog</a></li>
                </ul>
>>>>>>> 98366e48fbf45a4d3d9a67b3baa6f46cdd3ff868
            </div>
        {/foreach}
    </div>
</div>

{literal}
<script type="text/javascript">
    (function(_, $) {
        $(function() {
<<<<<<< HEAD
            $(_.doc).on('click', '#help_tutorial_link', function() {
=======
            $('#help_tutorial_link').on('click', function() {
>>>>>>> 98366e48fbf45a4d3d9a67b3baa6f46cdd3ff868
                $(this).toggleClass('open');
                $('.help-tutorial-wrapper').toggleClass('open');
                $('#help_tutorial_content').toggleClass('open');
            });
        });
    }(Tygh, Tygh.$));
</script>
{/literal}
{/strip}
