
/* Lite Checkout */
@supports (-webkit-appearance: none) {
    .selector:not(*:root), .litecheckout .litecheckout__field--selectbox .litecheckout__input {
        padding-top: 10px !important;
        padding-left: 6px !important;
    }
}
/* End of Lite Checkout */
/**
 * EasyZoom core styles
 */
.easyzoom {
	position: relative;

	/* 'Shrink-wrap' the element */
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

.easyzoom img {
	vertical-align: bottom;
}

.easyzoom.is-loading img {
	cursor: progress;
}

.easyzoom.is-ready img {
	cursor: crosshair;
}

.easyzoom.is-error  img {
	cursor: not-allowed;
}

.easyzoom-notice {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 150;
	width: 10em;
	margin: -1em 0 0 -5em;
	line-height: 2em;
	text-align: center;
	background: #FFF;
	box-shadow: 0 0 10px #888;
}

.easyzoom-flyout {
	position:absolute;
	z-index: 100;
	overflow: hidden;
	background: #FFF;
}

/**
 * EasyZoom layout variations
 */
.easyzoom--overlay .easyzoom-flyout {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.easyzoom--adjacent .easyzoom-flyout {
	top: 0;
	left: 100%;
	width: 100%;
	height: 100%;
	margin-left: 20px;
}

.ty-companies__unfollow,
.ty-companies__my-followers {
    float: right;
}

.ty-companies__check {
    float: left;
}

.ty-companies__check label {
    display: block;
    padding-right: 15px;
}

.ty-companies__check label input {
    width: 13px;
    height: 13px;
    vertical-align: bottom;
    position: relative;
}

.ty-my-followers {
    display: inline-block;
}

.ty-companies__info {
    overflow: hidden;
    padding-left: 25px;
    display: inline-block;
}

.ty-companies_news-header {
    padding: 25px 0 10px 0;
}

.ty-news__date {
    display: inline-block;
    margin-bottom: 15px;
    margin-right: 10px;
    color: #777777;
    font-weight: normal;
    font-size: 12px;
}

.ty-news__author {
    display: inline-block;
    margin-bottom: 15px;
    padding-left: 12px;
    border-left: 1px solid #adadad;
    color: #777777;
    font-weight: normal;
    font-size: 12px;
}

.ty-follower-list__name,
.ty-follower-list__date {
    width: 28%;
}

.ty-news__item {
    border-bottom: 1px solid #edeff1;
    padding-bottom: 30px;
    margin: -1px;
    margin-bottom: 50px;
    font-size: 14px;
}

.ty-follow-update-news,
.ty-no-items {
    margin-top: 15px;
}
#LESS#
@import "styles.less";
@import "tygh/responsive.less";
@import "addons/social_buttons/styles.less";
@import "addons/social_buttons/responsive.less";
@import "addons/tags/styles.less";
@import "addons/rss_feed/styles.less";
@import "addons/email_marketing/styles.less";
@import "addons/sd_shipping_by_product/styles.less";
@import "addons/vendor_plans/styles.less";
@import "addons/gift_certificates/styles.less";
@import "addons/gift_certificates/responsive.less";
@import "addons/recaptcha/styles.less";
@import "addons/product_variations/styles.less";
@import "addons/rma/styles.less";
@import "addons/rma/responsive.less";
@import "addons/blog/styles.less";
@import "addons/blog/responsive.less";
@import "addons/form_builder/styles.less";
@import "addons/form_builder/responsive.less";
@import "addons/banners/styles.less";
@import "addons/discussion/styles.less";
@import "addons/discussion/responsive.less";
@import "addons/wishlist/styles.less";
@import "addons/wishlist/responsive.less";
@import "addons/image_zoom/styles.less";
@import "addons/sd_messaging_system/variables.less";
@import "addons/sd_messaging_system/common.less";
@import "addons/hybrid_auth/styles.less";
@import "addons/wk_quantity_sold/styles.less";
@import "addons/pingpp/styles.less";
    :root {
        --image-zoom-animation-time: 200ms;
    }
