<<<<<<< HEAD
@import "../../config.less";
=======
>>>>>>> 98366e48fbf45a4d3d9a67b3baa6f46cdd3ff868
/* ==========================================================================
Vendor communication
========================================================================== */

// Main wrapper
#content_view_thread {
    min-height: 100%;
}

// Message writing form
.add_message_form {
    margin: 0;

    & &--wrapper {
        padding: 20px;
    }

    & &--textarea {
        width: 100%;
    }

    & &--refresh-btn.btn {
        padding: 4px 10px;
    }
}

// Tickets
.messages {
    padding-bottom: 220px;
}
.message-title {
    max-width: 300px;
    overflow: hidden;
    white-space: nowrap;

    a {
        display: block;
    }
}
.no-link {
    color: #333;
    
    &:hover, &:focus {
        cursor: auto;
        color: #333;
        text-decoration: none;
    }
}

// Chat
.vendor-communication-post {
    position: relative;
    margin-top: 3px;
    padding: 12px 15px 17px;
    border: 1px solid #e9e9e9;
    border-radius: 4px;
    background-color: #f5f5f5;

    &__content {
        margin-bottom: 10px;
        text-align: center;
        position: relative;
    }
    &__img {
        float: right;
        width: 55px;
        height: 55px;

        img {
            border-radius: 50%;
            border: 1px solid #e1e1e1;
        }
        .icon-user {
            border-radius: 50%;
            border: 1px solid #e1e1e1;
            width: 60px;
            height: 60px;
            font-size: 32px;
            line-height: 1.9;
            color: rgba(0, 0, 0, 0.3);
            background-color: #f5f5f5;
        }
    }
    &__info {
        overflow: hidden;
        padding-right: 25px;
    }
    &__author {
        font-weight: bold;
        text-align: right;
        margin-top: 15px;
    }
    &__date {
        color: #adadad;
    }
    &__message {
        word-wrap: break-word;
        text-align: left;
    }
}

// Customer post
.vendor-communication-post__customer {

    .vendor-communication-post {
        background-color: #fff;

        &__author {
            text-align: left;
        }
    }
    .icon-caret {
        left: 14px;
        right: auto;
        transform: scaleX(-1);
        
        &-inner {
            border-right-color: #fff;
        }
    }
}

.vendor-communication-logo__image {
    border-radius: 50%;
    border: 1px solid #dce3ea;
}

// New message
.btn.btn-icon-link {
    text-decoration: none;
    padding-left: 0;
    padding-right: 0;

    i {
        color: inherit;
        opacity: 1;
    }
}
.btn-send {
    min-width: 80px;
}
.post-object {
    margin-left: 50px;
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
    max-width: 500px;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.additional {
    &-info {
        display: inline-block;
        vertical-align: middle;
    }
    &-text {
        color: #999;
    }
}
.animation-rotate {
    
    i {
        transition-property: transform;
    }
    &:focus i {
        transform: rotate(180deg);
        transition-duration: 0.5s;
    }
}

// Fixed bottom
.admin-content-wrap {

    .fixed-bottom {
        display: inline-block;

        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;

        color: #333;
        background: #f5f5f5;

        border-top: 1px solid #e9e9e9;

        &-wrapper {
            width: 100%;
            display: inline-block;
        }
    }
}

// New message label
.status {

    &-label {
        min-width: 10px;
    }
    &-new {
        
        &__label {
            display: inline-block;
            border-radius: 50%;
            width: 10px;
            height: 10px;
            background: #10a1f5;
        }
        &__text {
            font-weight: bold;
            -webkit-font-smoothing: antialiased;
        }
    }
}

// Caret
.icon-caret {
    position: absolute;
    bottom: -16px;
    right: 14px;
    overflow: hidden;
    width: 16px;
    height: 16px;

    &-outer,
    &-inner {
        position: absolute;
        left: 0;
        width:0;
        height:0;
        border-bottom: 16px solid transparent;
        border-right: 16px solid #e9e9e9;
    }
    &-inner {
        left: 1px;
        border-width: 14px;
        border-right-color: #f5f5f5;
    }
}

<<<<<<< HEAD
@media (max-width: @TabletBreakpoint) {
=======
@media (max-width: 767px) {
>>>>>>> 98366e48fbf45a4d3d9a67b3baa6f46cdd3ff868
    .message-title {
        max-width: unset !important;
    }
}

/* ==========================================================================
/Vendor communication
========================================================================== */