<div id="currencies_{$block.block_id}">
<<<<<<< HEAD
{$uid = uniqid()}
=======

>>>>>>> 98366e48fbf45a4d3d9a67b3baa6f46cdd3ff868
{if $currencies && $currencies|count > 1}
    {if $dropdown_limit > 0 && $currencies|count <= $dropdown_limit}
        <div class="ty-currencies hidden-phone hidden-tablet">
            {if $text}<div class="ty-currencies__txt">{$text}:</div>{/if}
            {foreach from=$currencies key=code item=currency}
                <a href="{$config.current_url|fn_link_attach:"currency=`$code`"|fn_url}" rel="nofollow" class="ty-currencies__item {if $secondary_currency == $code}ty-currencies__active{/if}">{if $format == "name"}{$currency.description}&nbsp;({$currency.symbol nofilter}){else}{$currency.symbol nofilter}{/if}</a>
            {/foreach}
        </div>
<<<<<<< HEAD
        <div class="visible-phone visible-tablet ty-select-wrapper">{include file="common/select_object.tpl" style="graphic" suffix="currency_{$uid}" link_tpl=$config.current_url|fn_link_attach:"currency=" items=$currencies selected_id=$secondary_currency display_icons=false key_name=$key_name}</div>
=======
        <div class="visible-phone visible-tablet ty-select-wrapper">{include file="common/select_object.tpl" style="graphic" suffix="currency" link_tpl=$config.current_url|fn_link_attach:"currency=" items=$currencies selected_id=$secondary_currency display_icons=false key_name=$key_name}</div>
>>>>>>> 98366e48fbf45a4d3d9a67b3baa6f46cdd3ff868
    {else}
        {if $format == "name"}
            {assign var="key_name" value="description"}
        {else}
            {assign var="key_name" value=""}
        {/if}
<<<<<<< HEAD
        <div class="ty-select-wrapper">{include file="common/select_object.tpl" style="graphic" suffix="currency_{$uid}" link_tpl=$config.current_url|fn_link_attach:"currency=" items=$currencies selected_id=$secondary_currency display_icons=false key_name=$key_name}</div>
=======
        <div class="ty-select-wrapper">{include file="common/select_object.tpl" style="graphic" suffix="currency" link_tpl=$config.current_url|fn_link_attach:"currency=" items=$currencies selected_id=$secondary_currency display_icons=false key_name=$key_name}</div>
>>>>>>> 98366e48fbf45a4d3d9a67b3baa6f46cdd3ff868
    {/if}
{/if}

<!--currencies_{$block.block_id}--></div>
