<div id="localizations_{$block.block_id}">
<<<<<<< HEAD
{$uid = uniqid()}
{if $localizations && $localizations|count > 1}
    <div class="ty-select-wrapper">{include file="common/select_object.tpl" style="graphic" suffix="localization_{$uid}" link_tpl=$config.current_url|fn_link_attach:"lc=" items=$localizations selected_id=$smarty.const.CART_LOCALIZATION display_icons=false key_name="localization" text=__("localization")}</div>
{/if}

<!--localizations_{$block.block_id}--></div>
=======

{if $localizations && $localizations|count > 1}
    <div class="ty-select-wrapper">{include file="common/select_object.tpl" style="graphic" suffix="localization" link_tpl=$config.current_url|fn_link_attach:"lc=" items=$localizations selected_id=$smarty.const.CART_LOCALIZATION display_icons=false key_name="localization" text=__("localization")}</div>
{/if}

<!--localizations_{$block.block_id}--></div>
>>>>>>> 98366e48fbf45a4d3d9a67b3baa6f46cdd3ff868
