{** block-description:store_locator **}
<<<<<<< HEAD
<form action="{""|fn_url}" method="get" name="store_locator_form">
    <div id="store_locator_search_block_{$block.block_id}">
        <div class="ty-control-group">
            <label for="store_locator_search_city_{$block.block_id}" class="ty-control-group__title">{__("search")}</label>

            <div class="ty-input-append ty-m-none">
                <input type="text" size="20" class="ty-input-text" id="store_locator_search_city_{$block.block_id}" name="sl_search[q]" value="{$sl_search.q}" />
                {include file="buttons/go.tpl" but_name="store_locator.search" alt=__("search")}
            </div>
        </div>
    <!--store_locator_search_block_{$block.block_id}--></div>
=======

<form action="{""|fn_url}" method="get" name="store_locator_form">
    <div class="ty-control-group">
        <label for="store_locator_search{$block.block_id}" class="ty-control-group__title">{__("search")}</label>

        <div class="ty-input-append ty-m-none">
            <input type="text" size="20" class="ty-input-text" id="store_locator_search{$block.block_id}" name="q" value="{$store_locator_search.q}" />
            {include file="buttons/go.tpl" but_name="store_locator.search" alt=__("search")}
        </div>

    </div>
>>>>>>> 98366e48fbf45a4d3d9a67b3baa6f46cdd3ff868
</form>