.form-edit .controls p {
    margin-top: 5px;
    margin-bottom: 0px;
    line-height: 16px;
}

.tab-content > .active, .pill-content > .active {
        background:transparent; color:#000;
} 

.ty-sd_messaging_system__create-ticket {
    display: block;
    color: #fff;
    background-color: #0374ae;
    border: 1px solid #0374ae;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    right: 0;
    margin-right: 18px;
    position: absolute;
    position: fixed;
    bottom: 0%;
    right: 0%;
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    will-change: transform;
    backface-visibility: hidden;
    z-index: 99999999999999;
    border-radius: 3px;
    padding: 20px;
}