<<<<<<< HEAD
.ty-image-zoom {
    &__wrapper {
        display: inline;
    }

    &__flyout {
        opacity: 0;

        transition: opacity var(--image-zoom-animation-time);

        box-shadow: 0 0 8px @base;

        &--visible {
            opacity: 1;
        }

        border: 1px solid @base;

        img {
            max-width: unset;
        }
    }
}
=======
/* ==========================================================================
Image zoom
========================================================================== */
.cloudzoom-lens {
    border: 1px solid #b3b3b3;
    cursor: move;
    width: 150px;
    height: 150px;
}
.cloudzoom-zoom {
    border: 1px solid #a6a6a6;
    height: 450px;
    width: 450px;
    z-index: 2000;
    background: #fff;
    -webkit-box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}
.cloudzoom-zoom-inside {
    border: medium none;
    box-shadow: none;
    z-index: 2000;
}
.cloudzoom-caption {
    background-color: #000000;
    color: #FFFFFF;
    display: none;
    font-family: sans-serif;
    font-size: 11px;
    font-weight: bold;
    padding: 10px;
    text-align: left;
}
.cloudzoom-blank {
    background-image: url("../../../media/images/addons/image_zoom/blank.png");
    z-index: 2000;
}
.cloudzoom-ajax-loader {
    background-image: url("../../../media/images/icons/ajax_loader.svg");
    height: 32px;
    width: 32px;
}
/* /Image zoom */
>>>>>>> 98366e48fbf45a4d3d9a67b3baa6f46cdd3ff868
