<li><a href="{$config.admin_index}?dispatch=currencies.manage" class="cm-confirm">{__("check_live_exchange_rate")}</a></li>
<li><a href="{$config.admin_index}?dispatch=currencies.update_all_exchange" class="cm-confirm">{__("make_all_auto_update")}</a></li>