{if $product.item_type == "P" && $product.extra.extra.buy_together}
    <tr>
        <td>
            {$product.product}
<<<<<<< HEAD

            {hook name="cart:product_info"}
            {/hook}
        </td>
        {if $show_price}
            <td class="center">{$product.amount}</td>
            <td class="right">{include file="common/price.tpl" value=$product.price span_id="c_`$customer.user_id`_`$product.item_id`"}</td>
=======
        </td>
        {if $show_price}
            <td class="center">{$product.amount}</td>
            <td class="right">{include file="common/price.tpl" value=$product.price span_id="c_`$customer.user_id`_$product.item_id"}</td>
>>>>>>> 98366e48fbf45a4d3d9a67b3baa6f46cdd3ff868
        {/if}
    </tr>
    <tr><td {if $show_price}colspan="3"{/if}>
        <table cellpadding="0" cellspacing="0" border="0" width="90%" class="table margin-bottom" align="center">
        <tr>
            <th width="100%">{__("product")}</th>
            {if $show_price}
                <th class="center">{__("quantity")}</th>
                <th class="right">{__("price")}</th>
            {/if}
        </tr>
<<<<<<< HEAD
        {$base_product = $product}
        {if $cart_products}
            {$products = $cart_products}
        {/if}
        {if $wishlist_products}
            {$products = $wishlist_products}
        {/if}
        {foreach $products as $product}
            {if $product.extra.extra.parent.buy_together && ($product.extra.extra.parent.buy_together == $base_product.item_id || $product.extra.extra.parent.buy_together == $base_product.extra.extra.buy_id)}
            <tr>
                <td>
                    {$product.product}

                    {hook name="cart:product_info"}
                    {/hook}
                </td>
                {if $show_price}
                    <td class="center">{$product.amount}</td>
                    <td class="right">{include file="common/price.tpl" value=$product.price span_id="c_`$customer.user_id`_`$product.item_id`"}</td>
=======
        {foreach from=$products item="_product"}
            {if $_product.extra.extra.parent.buy_together && ($_product.extra.extra.parent.buy_together == $product.item_id || $_product.extra.extra.parent.buy_together == $product.extra.extra.buy_id)}
            <tr>
                <td>
                    {$_product.product}
                </td>
                {if $show_price}
                    <td class="center">{$_product.amount}</td>
                    <td class="right">{include file="common/price.tpl" value=$_product.price span_id="c_`$customer.user_id`_$_product.item_id"}</td>
>>>>>>> 98366e48fbf45a4d3d9a67b3baa6f46cdd3ff868
                {/if}
            </tr>
            {/if}
        {/foreach}
        </table>
    </td></tr>
{/if}