<div class="group">
    <div class="control-group">
         <label for="aliexpress_order" class="checkbox  inline"><input type="checkbox" value="Y" {if $search.aliexpress_order == "Y"}checked="checked"{/if} name="aliexpress_order" id="aliexpress_order"  />{__("show_aliexpress_orders")}</label>
    </div>
</div>