<div class="sidebar-field hidden">
    <label for="aliexpress_pdt" class="checkbox  inline"><input type="checkbox" value="Y" {if $search.aliexpress_pdt == "Y"}checked="checked"{/if} name="aliexpress_pdt" id="aliexpress_pdt"  />{__("show_aliexpress_products")}</label>
</div>
