<<<<<<< HEAD
{if $location == "cart" && $cart.shipping_required == true && $settings.Checkout.estimate_shipping_cost == "Y"}
=======
{if $location == "cart" && $cart.shipping_required == true && $settings.General.estimate_shipping_cost == "Y"}
>>>>>>> 98366e48fbf45a4d3d9a67b3baa6f46cdd3ff868
    {capture name="shipping_estimation"}
        <i class="ty-cart-total__icon-estimation ty-icon-flight"></i><a id="opener_shipping_estimation_block" class="cm-dialog-opener cm-dialog-auto-size ty-cart-total__a-estimation" data-ca-target-id="shipping_estimation_block" href="{"checkout.cart"|fn_url}" rel="nofollow">{if $cart.shipping}{__("change")}{else}{__("calculate")}{/if}</a>
    {/capture}
    <div class="hidden" id="shipping_estimation_block" title="{__("calculate_shipping_cost")}">
        <div class="ty-cart-content__estimation">
            {include file="views/checkout/components/shipping_estimation.tpl" location="popup" result_ids="shipping_estimation_link"}
        </div>
    </div>
{/if}
<div class="ty-cart-total">
    <div class="ty-cart-total__wrapper clearfix" id="checkout_totals">
<<<<<<< HEAD
        {if $cart_products}
            <div class="ty-coupons__container">
                {include file="views/checkout/components/promotion_coupon.tpl"}
                {hook name="checkout:payment_extra"}
                {/hook}
                </div>
=======
		<div class="calshipping" style="display:none;">
			<h3>Calculate Shipping</h3>
			<form action="#" method="">
				<div class="form-field">
					<select class="dropdownlist">
						<option value="uk">United Kingdom (UK)</option>
						<option value="india">United Kingdom (UK)</option>
						<option value="us">United Kingdom (UK)</option>
						<option value="audi">United Kingdom (UK)</option>
					</select>
					<input class="form-control" type="text" placeholder="Postcode / Zip" name="" value=""/>
				</div>
				<div class="form-field">
					<input type="submit" value="Update Total" class="ty-btn__secondary  ty-btn"/>
				</div>
			</form>
		</div>
        {if $cart_products}
            <div class="ty-coupons__container coupon-block">
                {include file="views/checkout/components/promotion_coupon.tpl"}
                {*{hook name="checkout:payment_extra"}
                {/hook}*}
            </div>
>>>>>>> 98366e48fbf45a4d3d9a67b3baa6f46cdd3ff868
        {/if}
        
        {hook name="checkout:payment_options"}
        {/hook}
<<<<<<< HEAD
        
        {include file="views/checkout/components/checkout_totals_info.tpl"}
        <div class="clearfix"></div>
        <ul class="ty-cart-statistic__total-list">
            <li class="ty-cart-statistic__item ty-cart-statistic__total">
            {if $settings.Checkout.estimate_shipping_cost == "N"}
                <span class="ty-cart-statistic__total-title">{__("cart_subtotal")}</span>
                <span class="ty-cart-statistic__total-value">
                    {include file="common/price.tpl" value=$cart.discounted_subtotal span_id="cart_total" class="ty-price"}
                </span>
            {else}
                <span class="ty-cart-statistic__total-title">{__("total_cost")}</span>
                <span class="ty-cart-statistic__total-value">
                    {include file="common/price.tpl" value=$_total|default:$smarty.capture._total|default:$cart.total span_id="cart_total" class="ty-price"}
                </span>
            {/if}
            </li>
        </ul>
=======
        <div class="carttotal">
			<div class="carttotal-block">
			{include file="views/checkout/components/checkout_totals_info.tpl"}
			<div class="clearfix"></div>
				<ul class="ty-cart-statistic__total-list">
					<li class="ty-cart-statistic__item ty-cart-statistic__total">
					{if $settings.General.estimate_shipping_cost == "N"}
						<span class="ty-cart-statistic__total-title">{__("cart_subtotal")}</span>
						<span class="ty-cart-statistic__total-value">
							{include file="common/price.tpl" value=$cart.subtotal span_id="cart_total" class="ty-price"}
						</span>
					{else}
						<span class="ty-cart-statistic__total-title">{__("total_cost")}</span>
						<span class="ty-cart-statistic__total-value">
							{include file="common/price.tpl" value=$_total|default:$smarty.capture._total|default:$cart.total span_id="cart_total" class="ty-price"}
						</span>
					{/if}
					</li>
				</ul>
			</div>
		</div>
>>>>>>> 98366e48fbf45a4d3d9a67b3baa6f46cdd3ff868
    <!--checkout_totals--></div>
</div>
