// Popup dialog styles
.object-container {
    overflow-x: auto;
    overflow-y: auto;
    padding: 13px 13px 40px;
    .controls .shift-input {
        display: block;
    }
    .notification-content {
        top: 11px;
        right: 15px;
        left: 15px;
        min-width: 420px;
        position: absolute;
        z-index: 1510;
    }
    .buttons-container-picker {
        .border-radius(0);
        .box-shadow(none);
        .modal-footer();
        background-color: transparent;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin-bottom: 0;
        padding: 20px 14px;
        text-align: right; // right align buttons
        border-top: 1px solid #eee; // Properly space out buttons
        .btn+.btn {
            margin-bottom: 0;
            margin-left: 5px; // account for input[type="submit"] which gets the bottom margin like all other inputs
        } // but override that for button groups
        .btn-group .btn+.btn {
            margin-left: -1px;
        }
        .form-edit .input-large {
            width: 50px !important;
        }
        .input-append,
        .input-prepend {
            margin-bottom: 0;
        }
    }
    .form-edit .input-large {
        width: 684px !important;
    }
    .dropdown-toggle {
        margin-top: 0px;
    }
}

.ui-dialog {
    padding: 0;
    position: fixed !important;
    .ui-dialog-content {
        overflow: hidden;
        padding: 0;
        .control-group:hover {
            background: transparent;
        }
    }
    .ui-dialog-title {
        width: 100%;
        white-space: nowrap;
    }
    .btn-text {
        padding-top: 5px;
    }
    .upload-file-local input[type="file"] {
        z-index: 2000;
    }
    .setting-wide .input-large {
        width: 520px !important;
    }
}

.ui-dialog .dropdown-menu {
    left: 0px;
    right: auto;
}

.ui-widget {
    input.btn {
        font-family: @sansFontFamily;
    }
}

.ui-widget-content {
    a {
        color: #0088CC;
    }
    a:hover {
        text-decoration: underline;
    }
    a.btn {
        color: #404040;
        text-decoration: none;
    }
    a.btn-primary {
        color: #fff;
    }
}

.ui-widget-overlay {
    position: fixed;
    z-index: 1001;
    opacity: 0.6;
    filter: Alpha(Opacity=60);
}

.dialog-auto-sized {
    .object-container {
        padding-bottom: 60px;
    }
}