<div itemscope itemtype="http://schema.org/Product">
    <meta itemprop="sku" content="{$product.seo_snippet.sku}" />
    <meta itemprop="name" content="{$product.seo_snippet.name}" />
    <meta itemprop="description" content="{$product.seo_snippet.description}" />
<<<<<<< HEAD
    {foreach $product.seo_snippet.images as $image}
        <meta itemprop="image" content="{$image}" />
    {/foreach}
=======
>>>>>>> 98366e48fbf45a4d3d9a67b3baa6f46cdd3ff868

    <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
        <link itemprop="availability" href="http://schema.org/{$product.seo_snippet.availability}" />
        {if $product.seo_snippet.show_price}
            <meta itemprop="priceCurrency" content="{$product.seo_snippet.price_currency}"/>
            <meta itemprop="price" content="{$product.seo_snippet.price}"/>
        {/if}
    </div>

    {hook name="products:seo_snippet_attributes"}
    {/hook}

</div>
