{if "MULTIVENDOR"|fn_allowed_for}
	{if $addons.vendor_communication.show_on_vendor == "Y"}
		<div class="vs-vendor-info">
			<div class="vs-vendor-info-left">
		    <a class="vs_vendor_link" href="{"companies.view?company_id=`$vendor_info.company_id`"|fn_url}">{$vendor_info.company}</a>
		  </div>
		  <div class="vs-vendor-info-right">
		    {include file="addons/vendor_communication/views/vendor_communication/components/new_thread_button.tpl" object_id=$company_id show_form=true}

		    {include
		        file="addons/vendor_communication/views/vendor_communication/components/new_thread_form.tpl"
		        object_type=$smarty.const.VC_OBJECT_TYPE_COMPANY
		        object_id=$company_id
		        company_id=$company_id
		        vendor_name=$company_id|fn_get_company_name
		    }
	    </div>
	  </div>
	{else}
		<div class="ty-center">
	    <a class="vs_vendor_link" href="{"companies.view?company_id=`$vendor_info.company_id`"|fn_url}">{$vendor_info.company}</a><br/>
	  </div>
	{/if}
{/if}

