#addon_csc_max_post_sizeinstalled .addon-icon .bg-icon i{
	background-image: url('images/addons/csc_max_post_size/addon-icon.png'); 
	background-position: 50% 50%;
	width: 38px;
	height: 38px;
	margin: 0;
	line-height: 100%;
  	display: block;
}