{if $auth.user_type=="A"}

{include file="common/subheader.tpl" title=__("sd_accelerated_pages.amp") target="#sd_accelerated_pages"}
<div id="sd_accelerated_pages" class="in collapse">
    <fieldset>
        <div class="control-group cm-no-hide-input">
            <label class="control-label" for="elm_product_amp_descr">{__("sd_accelerated_pages.full_description")}:</label>
            <div class="controls">
                <textarea id="elm_product_amp_descr" name="product_data[amp_description]" cols="55" rows="8" class="cm-wysiwyg input-large">{$product_data.amp_description}</textarea>
            </div>
        </div>
    </fieldset>
</div>
{/if}