<<<<<<< HEAD
<div class="hidden" id="map_picker" title="{__("select_coordinates")}">
    {$initial_latitude = $store_location.latitude|doubleval}
    {if !$initial_latitude}
        {$initial_latitude = $smarty.const.STORE_LOCATOR_DEFAULT_LATITUDE|doubleval}
    {/if}

    {$initial_longitude = $store_location.longitude|doubleval}
    {if !$initial_longitude}
        {$initial_longitude = $smarty.const.STORE_LOCATOR_DEFAULT_LONGITUDE|doubleval}
    {/if}

    <div class="cm-geo-map-container map-canvas" id="map_picker_container" style="height: 100%;"
         data-ca-geo-map-initial-lat="{$initial_latitude}"
         data-ca-geo-map-initial-lng="{$initial_longitude}"
         data-ca-geo-map-language="{$smarty.const.CART_LANGUAGE}"
         data-ca-geo-map-marker-selector=".cm-store-locator-map-marker"
    ></div>

    <form name="map_picker" action="" method="">
        <div class="buttons-container">
            <a class="cm-dialog-closer cm-cancel tool-link btn">{__("cancel")}</a>
            {if $allow_save}
                {include file="buttons/button.tpl" but_text=__("set") but_role="action" but_meta="btn-primary cm-dialog-closer cm-map-save-location"}
            {/if}
        </div>
    </form>

    {if $store_location.latitude && $store_location.longitude}
        <div class="cm-store-locator-map-marker hidden"
             data-ca-geo-map-marker-lat="{$store_location.latitude}"
             data-ca-geo-map-marker-lng="{$store_location.longitude}"
        ></div>
    {/if}
</div>

{script src="js/addons/store_locator/map.js"}
=======
{assign var="map_provider" value=$addons.store_locator.map_provider}
{assign var="map_provider_api" value="`$map_provider`_map_api"}
{assign var="map_admin_templates" value="A"|fn_get_store_locator_map_templates}
{assign var="map_container" value="map_canvas"}

{if $map_admin_templates && $map_admin_templates.$map_provider}
    {include file=$map_admin_templates.$map_provider}
{/if}

<div class="hidden" id="map_picker" title="{__("select_coordinates")}">
    <div class="map-canvas" id="{$map_container}" style="z-index: 2000; height: 100%;"></div>

    <form name="map_picker" action="" method="">
    <div class="buttons-container">
        <a class="cm-dialog-closer cm-cancel tool-link btn">{__("cancel")}</a>
        {if $allow_save}
        {include file="buttons/button.tpl" but_text=__("set") but_role="action" but_meta="btn-primary cm-dialog-closer cm-sl-map-save-location"}
        {/if}
    </div>
    </form>
</div>
>>>>>>> 98366e48fbf45a4d3d9a67b3baa6f46cdd3ff868
