.taki-grid-products-data{
	.taki-product-sales,.taki-product-views{
		margin-right:5px;
		.tk-value{
			margin-left:3px;
		}
	}
}

.taki-list-products-data{
	.taki-product-sales,.taki-product-views{
		margin-right:5px;
		.tk-value{
			margin-left:3px;
		}
	}
}