* {
    font-family: 'Open Sans', sans-serif;
}
.content {
    margin: 0 auto;
    box-shadow: 0 0 10px darken(@base, 50%);
    background: @general_bg_color;
    color: @font;
}
.ty-header {
    padding-top: 10px;
    padding-bottom: 10px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: center;
        align-items: center;
    min-height: 50px;
    background: @menu;
    box-sizing: border-box;
    margin-bottom: 10px;
}
.ty-main-image {
    margin: 0 auto;
}
.amp-carousel-slide {
    max-width: 900px;
    max-height: 600px;
    margin: 0;
}
.ty-search-block__input {
    max-width: calc(~'100% - 45px');
    width: 100%;
    height: 36px;
    margin-right: 5px;
    font-size: @body_font_size;
    padding: 7px 10px;
    box-sizing: border-box;

    :focus {
        border: 1px 0px 1px 1px solid lighten(@base, 10%);
    }
}
.ty-search-magnifier {
    float: right;
    width: 36px;
    height: 36px;
    cursor: pointer;
    border: 0;
    font-size: @buttons_font_size;
    font-weight: bold;
    background: @links;
    box-sizing: border-box;
    padding: 2px 4px 0;
    amp-img {
        max-width: 24px;
        margin: 0 auto;
    }
}
.ty-product-main-info {
    margin: 0 auto;
}
.ty-product-block-title {
    font-size: @headings_font_size;
    line-height: 1.1;
}
.ty-qty-in-stock {
    color: @links;
}
.ty-qty-out-of-stock {
    color: @links;
}
.product-list-field .ty-control-group__item {
    font-weight: bold;
}
.ty-strike {
    text-decoration: line-through;
}
.ty-old-price {
    margin-bottom: 20px;
}
.ty-btn {
    background: 0 0;
    border-radius: 2px;
    height: 36px;
    min-width: 64px;
    display: inline-block;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: @buttons_font_size;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    line-height: 36px;
    text-decoration: none;
    color: #fff;
    background-color: @primary_button;
    padding: 0 10px;

    &:hover {
        background-color: darken(@primary_button, 20%);
        color: #fff;
    }
}
.ty-product-main-info > * {
    margin: 5px 0;
}
.ty-product-block__button {
    margin: 10px auto;
}
.ty-price {
    font-size: 120%;
    font-weight: bold;
}
.ty-product-feature__value {
    display: inline-block;
    margin-left: 2px;
}
.ty-subheader {
    margin-bottom: 5px;
}
amp-img.ty-logo-container__image {
    margin-top: 8px;
}
amp-accordion > section > h4 {
    padding: 4px 10px;
}
amp-carousel {
    max-height: 500px;
}
amp-img {
    max-width: 100%;
}
section {
    padding-top: 10px;
    padding-bottom: 10px;
}
section p {
    padding: 0 0 6px;
    margin: 0;
}
.accordion-description {
    padding-top: 10px;
}
.ty-product-feature,
.ty-product-feature-group {
    margin-bottom: 10px;
}
.ty-product-feature-group .ty-subheader {
    margin-bottom: 1px;
    margin-top: 0;
}
@media (min-width: 980px) {
    .content {
        max-width: 70%;
    }
}
@media (min-width: 768px) {
    .ty-header {
        padding-left: 20px;
        padding-right: 20px;
    }
    .ty-logo-container {
        width: 40%;
    }
    .ty-search-block {
        width: 60%;
    }
    .ty-main-image,
    .ty-product-block {
        padding: 0 20px 20px;
    }
    .ty-product-main-info {
        padding-bottom: 20px;
    }
}
@media (max-width: 767px) {
    body {
        font-size: 15px;
    }
    .ty-header {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding-right: 10px;
        padding-left: 10px;
    }
    .content {
        width: 100%;
    }
    .ty-header {
        padding: 14px;
    }
    .ty-logo-container {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }
    .ty-search-block {
        width: 100%;
    }
    .ty-main-image {
        padding: 10px;
        margin: 0;
    }
    .ty-main-image,
    .ty-product-block {
        padding: 0 10px 10px;
    }
    .ty-product-main-info {
        padding-bottom: 10px;
    }
}