

{if $features}
<style type="text/css">
.produ_fetaure{
    margin-top:2px;
    margin-bottom:2px;
    font-size:18px;
}
</style>
{foreach from=$features item="product_features"}

<div class="produ_fetaure">
<label><strong>{$product_features.feature}:</strong></label>
<label>{$product_features.variant}</label>
</div>
{/foreach}
{/if}