@font_awesome: true;
@links: #666666;
@menu_links: #ffffff;
@menu: #1bbc9b;
@base: #808080;
@font: #434343;
@primary_button: #6aa84f;
@secondary_button: #ff9900;
@sidebar: #efefef;
@price: #434343;
@discount_label: #cc0000;
@in_stock: #5c980d;
@out_of_stock: #a80006;
@top_panel_links: #ffffff;
@top_panel_text: #ffffff;
@footer_text: #1f1d1e;
@decorative: #f5f3f8;

@general_bg_color: #d9d9d9;
@general_bg_image: url(../media/images/patterns/VIVAshop15/general_bg_image.png);
@general_bg_repeat: repeat;
@general_bg_scroll: fixed;
@general_bg_position: top center;

@top_panel_bg: #ff9900;
@top_panel_bg_grad_stop: #ff9900;
@top_panel_bg_full: true;
@top_panel_bg_transparent: false;

@header_bg: #ffffff;
@header_bg_grad_stop: #ffffff;
@header_bg_full: false;
@header_bg_transparent: false;

@content_bg: #ffffff;
@content_bg_full: false;
@content_bg_transparent: false;

@footer_bg: #f1f1f1;
@footer_bg_grad_stop: #f1f1f1;
@footer_bg_full: true;
@footer_bg_transparent: false;

@tertiary_button: #bf9000;
@menu_vertical_links: #ffffff;
@menu_vertical_links_hover: #4f5972;
@menu_horizontal_background: #f4fbf2;
@menu_expand_links: #434343;
@menu_expand_links_hover: #6aa84f;
@menu_horizontal_decoration: #6aa84f;
@menu_link_1: #7aa8f0;
@menu_link_2: #b4a7d6;
@menu_link_3: #c27ba0;
@menu_link_4: #ea9999;
@menu_link_5: #dd7e6b;
@menu_link_6: #d5a6bd;
@menu_link_7: #76a5af;
@menu_links_hover: #434343;
@menu_category: #6aa84f;
@block_titles: #ffffff;
@scroll_animations: true;
@scroll_animations_style: fade;
@auto_scroller_animations_style: fade;
@carousel_scroll_animations_style: fadeDown;
@grid_icon_quick_view: #3399db;
@grid_icon_add_wishlist: #e84c3d;
@grid_icon_add_to_compare: #1bbc9b;
@grid_icon_add_to_cart: #f5791f;
@grid_icon: #ffffff;
@discount_label_text: #efefef;
@grid_info_background: #ededed;
@grid_title: #4f5972;
@rating_icons: #cc0000;
@grid_icon_quick_view_bkg: #ff9900;
@grid_icon_add_wishlist_bkg: #ff9900;
@grid_icon_add_to_compare_bkg: #ff9900;
@grid_icon_add_to_cart_bkg: #6aa84f;
@list-price: #999999;
@top_panel_links_hover_active: #b6d7a8;
@product_title_link: #434343;
@menu_horizontal_decoration_text: #f3f3f3;
@menu_horizontal_decoration_text_hover: #d9ead3;
@google_fonts: true;
@brand_page_image: true;
@scroll_animations: true;
@auto_scroll_animations: true;
@show_dropdown_homepage: false;
@show_mega_menu_category_images: false;
@te_font_one: Lato;

@te_font_two: Raleway;








@cookie_law: boxleft;
@scroll_up: alignright;
@sticky_menu: menubar;




















































/*GFONTS*/
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), url(//fonts.gstatic.com/s/raleway/v9/IczWvq5y_Cwwv_rBjOtT0w.woff) format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(//fonts.gstatic.com/s/lato/v11/9k-RPmcnxYEPm8CNFsH2gg.woff) format('woff');
}

/*/GFONTS*/