@font_awesome: true;
@links: #666666;
@menu_links: #ffffff;
@menu: #1bbc9b;
@base: #808080;
@font: #434343;
@primary_button: #0b5394;
@secondary_button: #cc4125;
@sidebar: #efefef;
@price: #000000;
@discount_label: #f1c232;
@in_stock: #62ad00;
@out_of_stock: #a80006;
@top_panel_links: #ffffff;
@top_panel_text: #ffffff;
@footer_text: #1f1d1e;
@decorative: #f5f3f8;

@general_bg_color: #ffffff;
@general_bg_image: url(../media/images/patterns/VIVAshop13/general_bg_image.png);
@general_bg_repeat: repeat;
@general_bg_scroll: fixed;
@general_bg_position: top center;

@top_panel_bg: #cc4125;
@top_panel_bg_grad_stop: #cc4125;
@top_panel_bg_full: true;
@top_panel_bg_transparent: false;

@header_bg: #ffffff;
@header_bg_grad_stop: #ffffff;
@header_bg_full: false;
@header_bg_transparent: false;

@content_bg: #ffffff;
@content_bg_full: false;
@content_bg_transparent: false;

@footer_bg: #f1f1f1;
@footer_bg_grad_stop: #f1f1f1;
@footer_bg_full: true;
@footer_bg_transparent: false;

@tertiary_button: #3d85c6;
@menu_vertical_links: #ffffff;
@menu_vertical_links_hover: #4f5972;
@menu_horizontal_background: #fbf0ee;
@menu_expand_links: #666666;
@menu_expand_links_hover: #cc4125;
@menu_horizontal_decoration: #cc4125;
@menu_link_1: #3d85c6;
@menu_link_2: #3d85c6;
@menu_link_3: #3d85c6;
@menu_link_4: #3d85c6;
@menu_link_5: #3d85c6;
@menu_link_6: #3d85c6;
@menu_link_7: #3d85c6;
@menu_links_hover: #434343;
@menu_category: #3d85c6;
@block_titles: #ffffff;
@scroll_animations: true;
@scroll_animations_style: fade;
@auto_scroller_animations_style: godown;
@carousel_scroll_animations_style: fadeRightLeft;
@grid_icon_quick_view: #3399db;
@grid_icon_add_wishlist: #e84c3d;
@grid_icon_add_to_compare: #1bbc9b;
@grid_icon_add_to_cart: #f5791f;
@grid_icon: #ffffff;
@discount_label_text: #000000;
@grid_info_background: #ededed;
@grid_title: #4f5972;
@rating_icons: #38761d;
@grid_icon_quick_view_bkg: #3d85c6;
@grid_icon_add_wishlist_bkg: #3d85c6;
@grid_icon_add_to_compare_bkg: #3d85c6;
@grid_icon_add_to_cart_bkg: #cc4125;
@list-price: #999999;
@top_panel_links_hover_active: #f4cccc;
@product_title_link: #434343;
@menu_horizontal_decoration_text: #f3f3f3;
@menu_horizontal_decoration_text_hover: #f9e5ed;
@google_fonts: true;
@brand_page_image: true;
@scroll_animations: true;
@auto_scroll_animations: true;
@show_dropdown_homepage: false;
@show_mega_menu_category_images: false;
@te_font_one: Lato;

@te_font_two: Raleway;








@cookie_law: boxright;
@scroll_up: alignleft;
@sticky_menu: menubar;

























/*GFONTS*/
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), url(//fonts.gstatic.com/s/raleway/v9/IczWvq5y_Cwwv_rBjOtT0w.woff) format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(//fonts.gstatic.com/s/lato/v11/9k-RPmcnxYEPm8CNFsH2gg.woff) format('woff');
}

/*/GFONTS*/