@font_awesome: true;
@links: #0000ff;
@menu_links: #ffffff;
@menu: #1bbc9b;
@base: #26a59a;
@font: #434343;
@primary_button: #cc0000;
@secondary_button: #1ca1ae;
@sidebar: #efefef;
@price: #cc0000;
@discount_label: #6aa84f;
@in_stock: #5c980d;
@out_of_stock: #a80006;
@top_panel_links: #ffffff;
@top_panel_text: #ffffff;
@footer_text: #1f1d1e;
@decorative: #f5f3f8;

@general_bg_color: #ffffff;
@general_bg_image: url(../media/images/patterns/VIVAshop11/general_bg_image.png);
@general_bg_repeat: repeat;
@general_bg_scroll: fixed;
@general_bg_position: top center;

@top_panel_bg: #242424;
@top_panel_bg_grad_stop: #242424;
@top_panel_bg_full: true;
@top_panel_bg_transparent: false;

@header_bg: #26a69a;
@header_bg_grad_stop: #26a69a;
@header_bg_full: false;
@header_bg_transparent: false;

@content_bg: #ffffff;
@content_bg_full: false;
@content_bg_transparent: false;

@footer_bg: #f1f1f1;
@footer_bg_grad_stop: #f1f1f1;
@footer_bg_full: true;
@footer_bg_transparent: false;

@tertiary_button: #bf9000;
@menu_vertical_links: #ffffff;
@menu_vertical_links_hover: #4f5972;
@menu_horizontal_background: #eafdff;
@menu_expand_links: #434343;
@menu_expand_links_hover: #1ca1ae;
@menu_horizontal_decoration: #26a69a;
@menu_link_1: #cc0000;
@menu_link_2: #cc0000;
@menu_link_3: #cc0000;
@menu_link_4: #cc0000;
@menu_link_5: #cc0000;
@menu_link_6: #cc0000;
@menu_link_7: #bf9000;
@menu_links_hover: #434343;
@menu_category: #26a69a;
@block_titles: #ffffff;
@scroll_animations: true;
@scroll_animations_style: fade;
@auto_scroller_animations_style: godown;
@carousel_scroll_animations_style: fadeRightLeft;
@grid_icon_quick_view: #3399db;
@grid_icon_add_wishlist: #e84c3d;
@grid_icon_add_to_compare: #1bbc9b;
@grid_icon_add_to_cart: #f5791f;
@grid_icon: #ffffff;
@discount_label_text: #efefef;
@grid_info_background: #ededed;
@grid_title: #4f5972;
@rating_icons: #ff9900;
@grid_icon_quick_view_bkg: #bf9000;
@grid_icon_add_wishlist_bkg: #1ca1ae;
@grid_icon_add_to_compare_bkg: #1ca1ae;
@grid_icon_add_to_cart_bkg: #cc0000;
@list-price: #999999;
@top_panel_links_hover_active: #1ca1ae;
@product_title_link: #434343;
@menu_horizontal_decoration_text: #666666;
@menu_horizontal_decoration_text_hover: #c0eff4;
@google_fonts: true;
@brand_page_image: true;
@scroll_animations: true;
@auto_scroll_animations: true;
@show_dropdown_homepage: false;
@show_mega_menu_category_images: false;
@te_font_one: Lato;

@te_font_two: Raleway;








@cookie_law: boxright;
@scroll_up: alignright;
@sticky_menu: menubar;






































































/*GFONTS*/
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(//fonts.gstatic.com/s/raleway/v12/1Ptug8zYS_SKggPNyC0ISQ.woff) format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(//fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjx4wWA.woff) format('woff');
}

/*/GFONTS*/