@font-face {
  font-family: 'fontello';
  src: url('../media/images/addons/cp_conversations/fontello.eot');
  src: url('../media/images/addons/cp_conversations/fontello.eot#iefix') format('embedded-opentype'),
       url('../media/images/addons/cp_conversations/fontello.woff2') format('woff2'),
       url('../media/images/addons/cp_conversations/fontello.woff') format('woff'),
       url('../media/images/addons/cp_conversations/fontello.ttf') format('truetype'),
       url('../media/images/addons/cp_conversations/fontello.svg#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?72332865#fontello') format('svg');
  }
}
*/
 
 [class^="cp-icon-"]:before, [class*=" cp-icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.cp-icon-edit:before { content: '\e800'; } /* '' */
.cp-icon-folder:before { content: '\e801'; } /* '' */
.cp-icon-user:before { content: '\e802'; } /* '' */
.cp-icon-picture:before { content: '\e803'; } /* '' */
.cp-icon-reply:before { content: '\f112'; } /* '' */
.cp-icon-thumbs-down-alt:before { content: '\f165'; } /* '' */
.cp-icon-file-pdf:before { content: '\f1c1'; } /* '' */
.cp-icon-trash:before { content: '\f1f8'; } /* '' */
