{if $addons.wk_registration_confirmation.vend_activate_setting eq 'Y' AND ($company.status eq 'N' OR $company.status eq 'D')}
	<li>{btn type="list" text=__("wk_resend_confirmation_code") href="resend_confirmation_code.vendor?company_id=`$company.company_id`"}</li>
	<li class="divider"></li>
{/if}