{if $message.author_type == "V" && $ticket.vendor_image}
    {include file="addons/sd_messaging_system/views/messenger/components/message_image.tpl" image=$ticket.vendor_image image_width=$smarty.const.USER_IMAGE_WIDTH image_height=$smarty.const.USER_IMAGE_HEIGHT href="companies.update?company_id=`$ticket.company_id`"|fn_url}
{elseif $message.author_type != "V" && $ticket.customer_image}
    {include file="addons/sd_messaging_system/views/messenger/components/message_image.tpl" image=$ticket.customer_image image_width=$smarty.const.USER_IMAGE_WIDTH image_height=$smarty.const.USER_IMAGE_HEIGHT href="profiles.update?user_id=`$ticket.customer_id`"|fn_url}
{else}
    {if $message.author_type == "V"}<a href="{"companies.view?company_id=`$ticket.company_id`"|fn_url}">{elseif $message.author_type != "V"}<a href="{"profiles.update?user_id=`$ticket.customer_id`"|fn_url}">{/if}
        <svg class="no-image-icon" width="42" height="42" viewBox="0 0 88 88"><circle class="ty-sd_messaging-no-image__circle" cx="44" cy="44" r="44"></circle><path class="ty-sd_messaging-no-image__fill" d="M62.122,57.174l-9.345-4.7a2.588,2.588,0,0,1-1.429-2.326V46.828c0.224-.275.46-0.589,0.7-0.935a22.547,22.547,0,0,0,2.89-5.7,3.9,3.9,0,0,0,2.276-3.557V32.7a3.933,3.933,0,0,0-.978-2.581v-5.23a8.848,8.848,0,0,0-2.047-6.416C52.183,16.168,48.923,15,44.5,15s-7.683,1.168-9.693,3.471a8.85,8.85,0,0,0-2.047,6.417v5.23a3.933,3.933,0,0,0-.978,2.581v3.933a3.918,3.918,0,0,0,1.465,3.057,20.68,20.68,0,0,0,3.427,7.116v3.254a2.6,2.6,0,0,1-1.347,2.281L26.6,57.127A8.874,8.874,0,0,0,22,64.916V68.1C22,72.767,36.718,74,44.5,74S67,72.767,67,68.1V65.108A8.828,8.828,0,0,0,62.122,57.174Z"></path></svg>
    {if $message.author_type == "V" || $message.author_type != "V"}</a>{/if}
{/if}