// tables
.table-scroller-legend {
	width: 330px;
}
.table-scroller-content {
	overflow-x: auto;
	width: 630px;
}
.table-no-bg tr:hover th,
.table-no-bg tr:hover td {
	background: transparent !important;
}
.td-no-bg:hover > td {
    background: transparent !important;
}
.table .table {
    background: transparent;
}
.table-tree {
    margin-bottom: 0px;
    input[type="text"] {
        margin-bottom: 0px;
    }
    tbody {
        td {
            background-color: @tableBackgroundAccent;
        }
    }
    .multiple-table-row {
        td {
            background-color: #ffffff;
        }
    }
}
.table-exim strong {
	.border-radius(2px);
	position: relative;
	left: -4px;
	display: inline-block;
	padding: 0 4px;
	background: #333;
	color: #fff;
}
.table-exim li {
	margin-bottom: 2px;
	padding: 0 0 0 4px;
}
.table {
    .table-hover;
	.dropdown-menu input[type="checkbox"] {
		margin-top: 0px !important;
	}
    .muted {
        margin: 0px;
        line-height: 20px;
    }
	.shift-left {
		padding-left: 14px;
	}
	.shift-input {
		margin-left: 7px;
		color: #555;
	}
    .hidden-tools {
        visibility: hidden;
    }
    .ws-normal {
		.btn-group {
			white-space: normal !important;
		}
	}
    th {
        font-weight: 600;
    }
    tr:hover {
        .hidden-tools {
            visibility: visible;
        }
		.input-hidden:focus {
			.box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075));
			border: 1px solid rgba(82, 168, 236, 0.796875) !important;
		}
		.input-hidden {
			border: 1px solid @inputBorder;
			background-color: @inputBackground;
		}
		.cm-no-hide-input .icon-calendar {
			display: inline-block;
		}
		.btn-checkbox {
			.dropdown-toggle {
				border: 1px solid @inputBorder;
				background-color: #f5f6f7;
                width: 40px;
                height: 24px;
			}
			.dropdown-menu, .caret {
				visibility: visible;
			}
		}
		.btn-checkbox.open .dropdown-toggle {
			background: #f5f6f7;
            .box-shadow(none);
		}
    }
    .btn-checkbox.open .dropdown-toggle {
		.box-shadow(none);
		background-color: transparent;
	}

    tbody + tbody {
        border-top-width: 1px;
    }

    .input-hidden {
        .box-shadow(none);
        border-color: transparent;
        background-color: transparent;
    }
    thead th a {
        color: #333333;
    }

    input[type="text"]{
        margin-bottom: 0px;
    }
    .row-header {
    	background-color: #eeeeee;
    	h5 {
			font-weight: bold !important;
    		font-size: 16px !important;
			line-height: 8px !important;
    	}
    }
    td.center {
    	text-align: center;
    }
}
.table-fixed {
	tr>td {
		padding: 4px 15px;
	}
	tr th {
		padding: 5px;
	}
	tr:hover td {
		background-color: #f5f5f5;
	}
	.checkbox.inline {
		margin-left: 0px !important;
	}
	input[disabled="disabled"], select[disabled="disabled"], textarea[disabled="disabled"] {
		margin-bottom: 0px;
	}
	.pad {
		padding: 4px 15px;
	}
}
.table-no-hover tr:hover td, .no-hover td, .no-hover th {
	background: transparent !important;
}
.table-middle {
    thead th {
    	vertical-align: top !important;
    }
    tr {
        td, th {
            vertical-align: middle;
            input[type="radio"], input[type="checkbox"], select {
	    		margin-top: -1px !important;
                margin-bottom: 0px !important;
                padding-left: 0px !important;
    		}
        }
        td label {
            margin-bottom: 0px;
        }
    }
}

.table-top {
	tr {
		td, th {
			vertical-align: top;
		}
	}
	.hidden-tools {
		margin-top: 5px;
	}
}

.table-objects tr:first-child td {
	border-top: 0px;
}
.table-nobg tbody td {
	background-color: white;
}
.table-addons {
	.object-group-details {
		color: @grayLight;
	}
	.object-group-link-wrap .unedited-element {
		.opacity(100);
		color: #333;
	}
    & tr:first-child td {
        border-top: 0px;
    }
}
.handler {
	display: block;
    margin-left: 7px;
    opacity: 0.6;
	min-height: 21px;
	width: 7px;
	height: 100%;
	background: url("../media/images/handler.png") 0 0 repeat;
	cursor: move;
}
.no-padding-td {
	padding-right: 0 !important;
	padding-left: 0 !important;
}
.no-padding-td-absolute {
	padding:0 !important;
}
.no-border-td {
	border:none!important;
}
.display-table {
	display: table;
	width: 100%;
}
.row-gray {
    background-color: #fcfcfc;
}
.row-more {
    .radio {
        line-height: 12px;
    }
	&>td {
		border-top: 1px dashed #dddddd !important;
	}
    table {
        margin-bottom: 30px;
    }
	.row-gray, tr:hover .row-gray td, tr:hover .row-gray {
		background-color: #f9f9f9 !important;
	}
	.row-more-body {
		padding: 15px 34px;
		h4 {
			margin: 0px 0px 7px 0px;
			padding-bottom: 7px;
			border-bottom: 1px solid #dddddd;
			font-size: 14px !important;
		}
		dl {
			margin: 0px 0px 25px 0px;
		}
		dl dt {
			float: left;
			width: 140px;
			text-align: right;
			font-weight: normal;
		}
		dl dd {
			.clearfix;
			margin-bottom: 8px;
			padding-left: 194px;
		}
	}
	tr:hover td {
		background-color: transparent !important;
	}
}
.no-border>td, .no-border>th {
	border-top: 0px !important;
}
.table-last-td-align-right tr td:last-child {
	text-align: right;
}
.table .progress {
	margin-bottom: 0;
}
.table-elem {
	display: block;
	padding-top: 4px;
}
.table-wizard {
	margin-bottom: 0;
	tbody input[type="checkbox"] {
		margin-top: 4px !important;
	}
}
.statistic {
    table tr td {
        vertical-align: middle;
    }
    .statistic-label {
        text-align: right;
    }
    .totals {
        text-align: right;
        margin-bottom: 20px;
    }
    .price {
        color: @green;
        font-size: 16px;
        font-weight: bold;
    }
    .input-small {
        width: 61px;
    }
    input[type="text"] {
        margin-bottom: 0px;
    }
}