{** block-description:tmpl_logo **}
<div class="ty-logo-container">
<<<<<<< HEAD
    {$logo_link = $block.properties.enable_link|default:"Y" == "Y"}

    {if $logo_link}
        <a href="{""|fn_url}" title="{$logos.theme.image.alt}">
    {/if}
    {include file="common/image.tpl"
             images=$logos.theme.image
             class="ty-logo-container__image"
             image_additional_attrs=["width" => $logos.theme.image.image_x, "height" => $logos.theme.image.image_y]
             obj_id=false
             show_no_image=false
             show_detailed_link=false
             capture_image=false
    }
    
    {if $logo_link}
        </a>
    {/if}
</div>
=======
    <a href="{""|fn_url}" title="{$logos.theme.image.alt}">
        <img src="{$logos.theme.image.image_path}" width="{$logos.theme.image.image_x}" height="{$logos.theme.image.image_y}" alt="{$logos.theme.image.alt}" class="ty-logo-container__image" />
    </a>
</div>
>>>>>>> 98366e48fbf45a4d3d9a67b3baa6f46cdd3ff868
