{if version_compare($smarty.const.PRODUCT_VERSION, "4.3.5", ">")}<th>{/if}
<a class="cm-ajax" href="{"`$c_url`&sort_by=viewed&sort_order=`$search.sort_order_rev`"|fn_url}" data-ca-target-id={$rev}>{__('views')}</a>/<a class="cm-ajax" href="{"`$c_url`&sort_by=popularity&sort_order=`$search.sort_order_rev`"|fn_url}" data-ca-target-id={$rev}>{__('popularity')}</a>
{if version_compare($smarty.const.PRODUCT_VERSION, "4.3.5", ">")}</th>{/if}