<<<<<<< HEAD
{if $grid.grid_id}
    {$id = $grid.grid_id}
    {$elm_id = $id}
{else}
    {$id = 0}
    {$elm_id = uniqid()}
{/if}

<div id="grid_properties_{$elm_id}">
=======

{if $grid}
    {assign var="id" value=$grid.grid_id}
{else}
    {assign var="id" value=0}
{/if}

<div id="grid_properties_{$id}">
>>>>>>> 98366e48fbf45a4d3d9a67b3baa6f46cdd3ff868
<form action="{""|fn_url}" method="post" enctype="multipart/form-data" class="form-horizontal form-edit " name="grid_update_form">
<input type="hidden" id="s_layout" name="s_layout" value="{$location.layout_id}" />
<input type="hidden" name="grid_id" value="{$id}" />

<input type="hidden" name="container_id" value="{$grid_params.container_id}" />
<input type="hidden" name="parent_id" value="{$grid_params.parent_id|default:$grid.parent_id|default:0}" />

<div class="tabs cm-j-tabs">
    <ul class="nav nav-tabs">
        <li class="cm-js active"><a>{__("general")}</a></li>
    </ul>
</div>

<div class="cm-tabs-content">
    <div class="control-group cm-no-hide-input">
<<<<<<< HEAD
        <label class="control-label" for="elm_grid_width_{$elm_id}">{__("width")}</label>
        <div class="controls">
        <select id="elm_grid_width_{$elm_id}" name="width">
            {section name="width" start=$grid_params.min_width|default:1-1|default:0 loop=$grid_params.max_width|default:24}
                {$index = $smarty.section.width.index + 1}
                <option value="{$index}"
                        {if $index == $grid.width}selected="selected"{/if}
                >{$index}</option>
=======
        <label class="control-label" for="elm_grid_width_{$id}">{__("width")}</label>
        <div class="controls">
        <select id="elm_grid_width_{$id}" name="width">
            {section name="width" start=$grid_params.min_width|default:1-1|default:0 loop=$grid_params.max_width|default:24}
                {assign var="index" value=$smarty.section.width.index+1}
                <option value="{$index}" {if $index == $grid.width}selected="selected"{/if}>{$index}</option>
>>>>>>> 98366e48fbf45a4d3d9a67b3baa6f46cdd3ff868
            {/section}
        </select>
        </div>
    </div>

    <div class="control-group cm-no-hide-input">
<<<<<<< HEAD
        <label class="control-label" for="elm_grid_content_align_{$elm_id}">{__("content_alignment")}</label>
        <div class="controls">
        <select id="elm_grid_content_align_{$elm_id}" name="content_align">
            <option value="{"\Tygh\BlockManager\Grid::ALIGN_FULL_WIDTH"|constant}"
                    {if $grid.content_align == "\Tygh\BlockManager\Grid::ALIGN_FULL_WIDTH"|constant}selected="selected"{/if}
            >{__("full_width")}</option>
            <option value="{"\Tygh\BlockManager\Grid::ALIGN_LEFT"|constant}"
                    {if $grid.content_align == "\Tygh\BlockManager\Grid::ALIGN_LEFT"|constant}selected="selected"{/if}
            >{__("left")}</option>
            <option value="{"\Tygh\BlockManager\Grid::ALIGN_RIGHT"|constant}"
                    {if $grid.content_align == "\Tygh\BlockManager\Grid::ALIGN_RIGHT"|constant}selected="selected"{/if}
            >{__("right")}</option>
=======
        <label class="control-label" for="elm_grid_content_align_{$id}">{__("content_alignment")}</label>
        <div class="controls">
        <select id="elm_grid_content_align_{$id}" name="content_align">
            <option value="FULL_WIDTH" {if $grid.content_align == "FULL_WIDTH"}selected="selected"{/if}>{__("full_width")}</option>            
            <option value="LEFT" {if $grid.content_align == "LEFT"}selected="selected"{/if}>{__("left")}</option>
            <option value="RIGHT" {if $grid.content_align == "RIGHT"}selected="selected"{/if}>{__("right")}</option>
>>>>>>> 98366e48fbf45a4d3d9a67b3baa6f46cdd3ff868
        </select>
        </div>
    </div>

    <div class="control-group cm-no-hide-input">
<<<<<<< HEAD
        <label class="control-label" for="elm_grid_wrapper_{$elm_id}">{__("wrapper")}</label>
        <div class="controls">
            <select id="elm_grid_wrapper_{$elm_id}" name="wrapper">
                <option value="">{__("none")}</option>
                {foreach $grids_schema.wrappers as $wrapper_name => $wrapper_template}
                    <option value="{$wrapper_template}" {if $wrapper_template == $grid.wrapper}selected{/if}>{$wrapper_name}</option>
                {/foreach}
            </select>
        </div>
    </div>

    <div class="control-group cm-no-hide-input">
        <label class="control-label" for="elm_grid_offset_{$elm_id}">{__("offset")}</label>
        <div class="controls">
        <select id="elm_grid_offset_{$elm_id}" name="offset">
=======
        <label class="control-label" for="elm_grid_offset_{$id}">{__("offset")}</label>
        <div class="controls">
        <select id="elm_grid_offset_{$id}" name="offset">
>>>>>>> 98366e48fbf45a4d3d9a67b3baa6f46cdd3ff868
            {section name="offset" start=0 loop=$grid_params.max_width|default:24}
                {assign var="index" value=$smarty.section.offset.index}
                <option value="{$index}" {if $index == $grid.offset}selected="selected"{/if}>{$index}</option>
            {/section}
        </select>
        </div>
    </div>

    <div class="control-group cm-no-hide-input">
<<<<<<< HEAD
        <label class="control-label" for="elm_grid_user_class_{$elm_id}">{__("user_class")}</label>
        <div class="controls">
        <input id="elm_grid_user_class_{$elm_id}" name="user_class" value="{$grid.user_class}" type="text" />
        </div>
    </div>

    <div class="control-group">
        <label class="control-label cm-required cm-multiple-checkboxes"
               for="grid_{$elm_id}_availability"
        >{__("block_manager.availability.show_on")}</label>
        <div class="controls" id="grid_{$elm_id}_availability">
            <div class="btn-group btn-group-checkbox">
                {foreach $grid.availability as $device => $is_available}
                
                    {if $device == "phone"}
                        {$devices_icon = "icon-mobile-phone"}
                    {elseif $device == "tablet"}
                        {$devices_icon = "icon-tablet"}
                    {elseif $device == "desktop"}
                        {$devices_icon = "icon-desktop"}
                    {/if}

                    <input type="checkbox"
                        id="elm_grid_{$elm_id}_show_on_{$device}"
                        class="cm-text-toggle btn-group-checkbox__checkbox"
                        {if $is_available}checked="checked"{/if}
                        data-ca-toggle-text="{$grid_availability_instance->getHiddenClass($device)}"
                        data-ca-toggle-text-mode="onDisable"
                        data-ca-toggle-text-target-elem-id="elm_grid_user_class_{$elm_id}"
                    />
                    <label class="btn btn-group-checkbox__label" for="elm_grid_{$elm_id}_show_on_{$device}">
                        <i class="{$devices_icon}"></i>
                        {__("block_manager.availability.{$device}")}
                    </label>
                {/foreach}
            </div>
        </div>
    </div>

=======
        <label class="control-label" for="elm_grid_user_class_{$id}">{__("user_class")}</label>
        <div class="controls">
        <input id="elm_grid_user_class_{$id}" name="user_class" value="{$grid.user_class}" type="text" />
        </div>
    </div>
    
>>>>>>> 98366e48fbf45a4d3d9a67b3baa6f46cdd3ff868
    {hook name="block_manager_update_grid:settings"}
    {/hook}
    
</div>

<div class="buttons-container">
    {include file="buttons/save_cancel.tpl" but_name="dispatch[block_manager.grid.update]" cancel_action="close" but_meta="cm-dialog-closer" save=$id}
</div>
</form>
<<<<<<< HEAD
<!--grid_properties_{$elm_id}--></div>
=======
<!--grid_properties_{$id}--></div>
>>>>>>> 98366e48fbf45a4d3d9a67b3baa6f46cdd3ff868
