/* ==========================================================================
Social buttons
========================================================================== */
.ty-social-buttons {
    margin: 20px 0px;
}
.ty-social-buttons__inline {
    display: inline-block;
    vertical-align: top;
    margin: 5px 20px 10px 0;
}
.ty-social-buttons__email-sharing {
    text-decoration: none;
}
.ty-social-buttons__email-icon {
    vertical-align: middle;
    margin-left: 5px;
    font-size: 16px;
}
.ty-product-bigpicture .ty-social-buttons__inline {
    margin: 5px 0 0;
}
<<<<<<< HEAD
.pinterest__wrapper {
    margin-top: -1px;
    display: block;
}
=======
>>>>>>> 98366e48fbf45a4d3d9a67b3baa6f46cdd3ff868
/* Social buttons */