#addon_cp_power_statistics .exicon-box,
#addon_cp_power_statistics .exicon-box-blue,
[id^="addon_cp_"].exicon-box,
[id^="addon_cp_"] .exicon-box-blue {
	background: url(../../../media/images/cart-power-addon__icon.png) center 0 no-repeat;
	margin: 0;
	width: 36px;
	height: 36px;
}
#addon_cp_power_statistics.cm-row-status-n .exicon-box,
#addon_cp_power_statistics.cm-row-status-n .xicon-box-blue,
[id^="addon_cp_"].cm-row-status-n .exicon-box,
[id^="addon_cp_"].cm-row-status-n .xicon-box-blue {
	background-position: center -44px;
}
