table.first-transition td {
    font-size: 85%;
}
.overflow-auto-190 {
  overflow: auto;
  width: 190px;
}
.overflow-auto-270 {
  overflow: auto;
  width: 270px;
}
.overflow-auto-280 {
  overflow: auto;
  width: 280px;
}
.overflow-auto-540 {
  overflow: auto;
  width: 540px;
}
table tr.first-transition {
  background: #ededed;
}
.ps-users-online {
  position: fixed;
  bottom: 0px;
  padding: 5px;
  background: #ffffff;
  -webkit-box-shadow: 4px -3px 10px rgba(0,0,0,0.1);
  -moz-box-shadow: 4px -3px 10px rgba(0,0,0,0.1);
  box-shadow: 4px -3px 10px rgba(0,0,0,0.1);  
}
.ps-select {
  margin-bottom: 0px !important;
}
.ps-content {
    display: inline-block;
    padding-left: 5px;
    position: absolute;
    right: -18px;
    top: -4px;
}
.ps-label {
  position: relative;
}
.ps-delim {
  width: 20px;
  display: inline-block;
}