.upload-box .image-upload .hidpi-hint {
    margin-top: 15px;
}
.hidpi-hint span {
    font-size: 85%;
    color: #868686;
<<<<<<< HEAD
}

.hidpi-mark {
    margin-top: 10px;
    line-height: 13px;

    input {
        margin-top: 0;
    }
=======
>>>>>>> 98366e48fbf45a4d3d9a67b3baa6f46cdd3ff868
}