{if $discussion && $discussion.type != "D"}
    <span class="ty-discussion__rating-wrapper" id="average_rating_{$object_type}_{$object_id}">
        {assign var="rating" value="rating_`$obj_id`"}{$smarty.capture.$rating nofilter}
        {if $company_data.discussion.search.total_items}
            <a class="ty-discussion__review-a cm-external-click" data-ca-scroll="content_discussion" data-ca-external-click-id="discussion">{$company_data.discussion.search.total_items} {__("reviews", [$company_data.discussion.search.total_items])}</a>
<<<<<<< HEAD
        {/if}
        {include
            file="addons/discussion/views/discussion/components/new_post_button.tpl"
            name=__("write_review")
            obj_id=$obj_id
            style="text"
            object_type="Addons\\Discussion\\DiscussionObjectTypes::COMPANY"|enum
        }
=======
        {/if}        
        {if !$discussion.disable_adding}
            {include
                file="addons/discussion/views/discussion/components/new_post_button.tpl"
                name=__("write_review")
                obj_id=$obj_id
                style="text"
                object_type="Addons\\Discussion\\DiscussionObjectTypes::COMPANY"|enum
            }
        {/if}
>>>>>>> 98366e48fbf45a4d3d9a67b3baa6f46cdd3ff868
    <!--average_rating_{$object_type}_{$object_id}--></span>
{/if}