{script src="js/tygh/exceptions.js"}
{script src="js/tygh/checkout.js"}

{*{$smarty.capture.checkout_error_content nofilter}
{include file="views/checkout/components/checkout_steps.tpl"}

{capture name="mainbox_title"}<span class="ty-checkout__title">{__("secure_checkout")}&nbsp;<i class="ty-checkout__title-icon ty-icon-lock"></i></span>{/capture}*}
<div class="productcheckout-block">
  <div class="productcheckout-top" style="display:none;">
     <div class="span8">
        <div class="topcheckout">
          <p>Returning customer ? <a href="#">Click here to login</a></p> 
         </div>                                                     
      </div>  
      <div class="span8">
        <div class="topcheckout">
       		<p>Have a Coupon ? <a href="#">Click here to enter your code</a></p>                                                        
      	</div>
      </div> 
  </div>

	<div class="checkoutform-block">
		<div class="checkoutform-list">		<form action="" method="post">   
			<div class="span10">
				<h3>Billing detail</h3>                                       					<div class="form-group">						<label>Country <sup>*</sup></label>						<select class="dropdownlist" name="country">						  <option value="uk">United Kingdom (UK)</option>						  <option value="us">United Kingdom (UK)</option>						  <option value="uk1">United Kingdom (UK)</option>						  <option value="uk2">United Kingdom (UK)</option>						</select>					</div>					<div class="form-group">						<label>First Name <sup>*</sup></label>						<input class="form-control" type="text" name="fname" value=""/>					</div>					<div class="form-group">						<label>Last Name <sup>*</sup></label>						<input class="form-control" type="text" name="lname" value=""/>					</div>					<div class="form-group">						<label>Company Name</label>						<input class="form-control" type="text" name="cname" value=""/>					</div>					<div class="form-group">						<label>Address <sup>*</sup></label>						<input class="form-control" type="text" name="address" value=""/>						<input class="form-control" type="text" name="address" value=""/>					</div>					<div class="form-group">						<label>City / Town <sup>*</sup></label>						<input class="form-control" type="text" name="city" value=""/>					</div>					<div class="form-group">						<label>Email <sup>*</sup></label>						<input class="form-control" type="text" name="email" value=""/>					</div>					<div class="form-group">						<label>Phone <sup>*</sup></label>						<input class="form-control" type="text" name="phone" value=""/>					</div>					<div class="form-group">						<label class="checkbox-button" for="differ-addreess">							Ship to a different address?								 <input type="checkbox" name="checkbox" checked="checked" id="differ-addreess">						 <span></span>						</label>					</div>					<div class="differaddreess">						<div class="form-group">							<label>Country <sup>*</sup></label>							<select class="dropdownlist" name="country">							  <option value="uk">United Kingdom (UK)</option>							  <option value="us">United Kingdom (UK)</option>							  <option value="uk1">United Kingdom (UK)</option>							  <option value="uk2">United Kingdom (UK)</option>							</select>						</div>						<div class="form-group">							<label>First Name <sup>*</sup></label>							<input class="form-control" type="text" name="fname" value=""/>						</div>						<div class="form-group">							<label>Last Name <sup>*</sup></label>							<input class="form-control" type="text" name="lname" value=""/>						</div>						<div class="form-group">							<label>Company Name</label>							<input class="form-control" type="text" name="cname" value=""/>						</div>						<div class="form-group">							<label>Address <sup>*</sup></label>							<input class="form-control" type="text" name="address" value=""/>							<input class="form-control" type="text" name="address" value=""/>						</div>						<div class="form-group">							<label>City / Town <sup>*</sup></label>							<input class="form-control" type="text" name="address" value=""/>						</div>						<div class="form-group">							<label>Order Notes</label>							<textarea class="form-control" name="order-notes" value="order-notes"></textarea>						</div>					</div>
				</div>				<div class="span6">					<h3>Your Order</h3>					<div class="yourorder-block">						<table class="ty-table1">							 <thead>								<tr>									<th>Product</th>									<th>Total</th>								</tr>							</thead>							<tbody>								<tr>									<td data-product="Product">										<a href="#">1 x Marshall Kilburn Bluetooth Wireless Speaker, Black (A849818</a>									</td>									<td data-product="Total">										<span class="price">$205.00</span>									</td>								</tr>								<tr>									<td data-product="Product">										<a href="#">1 x Marshall Kilburn Bluetooth Wireless Speaker, Black (A849818</a>									</td>									<td data-product="Total">										<span class="price">$205.00</span>									</td>								</tr>								<tr class="shiping">									<td>										Shipping Standard									</td>									<td>										<span class="shiping-price">+ $10.00</sapn>									</td>								</tr>								<tr class="totalorder">									<td class="order-total">										<span class="order-total">Order Totals</span>									</td>									<td>										<span class="shiping-total">$280.00</sapn>									</td>								</tr>							</tbody>						</table>						<div class="paymentblock">							<label class="payradio">Direct Bank Transfer								<input type="radio" checked="checked" name="radio">								<span></span>							</label>							<div class="payradio-text">								<p>Donec sed odio dui. Nulla vitae elit libero, a phara etra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. </p>							</div>							<label class="payradio">Cheque Payment								<input type="radio" name="radio">								<span></span>							</label>							<label class="payradio">Cash On Delivery								<input type="radio" name="radio">								<span></span>							</label>							<label class="payradio">Paypal								<input type="radio" name="radio">								<span></span>							</label>						</div>						</div>					<div class="placeorder-button">						<input type="submit" value="Place Order" class="ty-btn ty-btn__primary "/>					</div>				</div>			</form>
		</div>                                                          
	</div>   </div>
                                                                
