.top-cart-content .ty-dropdown-box {
    position: fixed;
    bottom: 50%;
    right: 0%;
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s,-webkit-transform .2s;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    will-change: transform;
    backface-visibility: hidden;
    z-index: 99999999999999;
    background: rgb(255, 255, 255) none repeat scroll 0 0;
    border-radius: 3px;
    padding: 20px;
}