{if $layout_data.layout_width != "fixed"}
    {if $parent_grid.width > 0}
        {$fluid_width = fn_get_grid_fluid_width($layout_data.width, $parent_grid.width, $grid.width)}
    {else}
        {$fluid_width = $grid.width}
    {/if}
{/if}

{if $grid.status == "A" && call_user_func(base64_decode("ZnVuY3Rpb25fZXhpc3Rz"),base64_decode("Zm5fZW5lcmdvdGhlbWVzX2xpY2Vuc2VfY2hlY2tfdmFsaWQ=")) && $content}
{if $grid.alpha}<div class="{if $layout_data.layout_width != "fixed"}row {else}row{/if}">{/if}
        {$width = $grid.width}
        <div class="span{$width}{if $grid.offset} offset{$grid.offset}{/if} {$grid.user_class}" >
            {$content nofilter}
        </div>
    {if $grid.omega}</div>{/if}
{/if}