.mixin_fixed_settings_mobile(@width: 40px, @left: 20px) {
    @media (max-width: 767px) {
        max-width: calc(~'100% -' @width);
        width: calc(~'100% -' @width);
        left: @left;
        box-sizing: border-box;

        .sd-subscribe-fixed__image {
            height: 60px;
            width: 55px;
        }
    }
}