@black: #000000;
@blue: #26a6d1;
@close_background: rgba(0, 0, 0, .7);
@error: #b94a48;
@green: #3db39e;

@grey: #909090;
@grey_dark: #6c6c6c;
@grey_light: #c3c3c3;
@grey_23: #232323;

@red: #e2574c;
@white: #ffffff;
