{script src="js/tygh/exceptions.js"}
<<<<<<< HEAD

<div class="ty-product-block ty-product-detail">
    <div class="ty-product-block__wrapper clearfix">
    {hook name="products:view_main_info"}
        {if $product}
            {assign var="obj_id" value=$product.product_id}
            {include file="common/product_data.tpl" product=$product but_role="big" but_text=__("add_to_cart")}
            <div class="ty-product-block__img-wrapper" style="width: {$settings.Thumbnails.product_details_thumbnail_width}px">
=======
{script src="js/tygh/new.js"}
<div class="ty-product-block ty-product-detail">
{hook name="products:view_main_info"}
{if $product}
            {assign var="obj_id" value=$product.product_id}
            {include file="common/product_data.tpl" product=$product but_role="big" but_text=__("add_to_cart")}
    <div class="ty-product-block__top">
    	<div class="leftcolumn">
			 {if !$hide_title}
				<h1 class="ty-product-block-title" {live_edit name="product:product:{$product.product_id}"}><bdi>{$product.product nofilter}</bdi></h1>
			{/if}
			<ul>
				<li>
					{hook name="products:brand"}
						{hook name="products:brand_default"}
							<div class="brand">
								{include file="views/products/components/product_features_short_list.tpl" features=$product.header_features}
							</div>
						{/hook}
					{/hook}
				</li>
				<li>
					<span class="ty-nowrap ty-stars">
                        <a class="cm-external-click" data-ca-scroll="content_discussion" data-ca-external-click-id="discussion">
                        <i class="ty-stars__icon ty-icon-star"></i>
						<i class="ty-stars__icon ty-icon-star"></i>
						<i class="ty-stars__icon ty-icon-star"></i>
						<i class="ty-stars__icon ty-icon-star"></i>
						<i class="ty-stars__icon ty-icon-star"></i>
						</a>
					</span>
					<a class="ty-discussion__review-a cm-external-click" data-ca-scroll="content_discussion" data-ca-external-click-id="discussion">10 reviews</a>
				</li>
				<li><span class="sku">{assign var="sku" value="sku_`$obj_id`"}{$smarty.capture.$sku nofilter}</span>
				</li>
        <li><span class="sku">{if $capture_options_vs_qty}{capture name="product_options"}{$smarty.capture.product_options nofilter}{/if}
                    {assign var="advanced_options" value="advanced_options_`$obj_id`"}
                    {$smarty.capture.$advanced_options nofilter}
                    {if $capture_options_vs_qty}{/capture}{/if}</span>                
        </li>
			</ul>
		</div>
		<div class="rightcolumn">
     
			<ul>   {if $display_button_block}
				    <ul class="ty-social-buttons">
				    {foreach from=$provider_settings item="provider_data"}
				        {if $provider_data && $provider_data.template && $provider_data.data}
				            <li class="ty-social-buttons__inline">{include file="addons/social_buttons/providers/`$provider_data.template`"}</li>
				        {/if}
				    {/foreach}
				    </ul>
				{/if}
			</ul>
		</div>
	</div>
    <div class="ty-product-block__wrapper clearfix">
        
            <div class="ty-product-block__img-wrapper">
>>>>>>> 98366e48fbf45a4d3d9a67b3baa6f46cdd3ff868
                {hook name="products:image_wrap"}
                    {if !$no_images}
                        <div class="ty-product-block__img cm-reload-{$product.product_id}" id="product_images_{$product.product_id}_update">

<<<<<<< HEAD
                            {assign var="product_labels" value="product_labels_`$obj_prefix``$obj_id`"}
                            {$smarty.capture.$product_labels nofilter}
=======
                            {assign var="discount_label" value="discount_label_`$obj_prefix``$obj_id`"}
                            {$smarty.capture.$discount_label nofilter}
>>>>>>> 98366e48fbf45a4d3d9a67b3baa6f46cdd3ff868

                            {include file="views/products/components/product_images.tpl" product=$product show_detailed_link="Y" image_width=$settings.Thumbnails.product_details_thumbnail_width image_height=$settings.Thumbnails.product_details_thumbnail_height}
                        <!--product_images_{$product.product_id}_update--></div>
                    {/if}
                {/hook}
            </div>
            <div class="ty-product-block__left">
<<<<<<< HEAD
                {assign var="form_open" value="form_open_`$obj_id`"}
                {$smarty.capture.$form_open nofilter}

                {hook name="products:main_info_title"}
                    {if !$hide_title}
                        <h1 class="ty-product-block-title" {live_edit name="product:product:{$product.product_id}"}><bdi>{$product.product nofilter}</bdi></h1>
                    {/if}

                    {hook name="products:brand"}
                        {hook name="products:brand_default"}
                            <div class="brand">
                                {include file="views/products/components/product_features_short_list.tpl" features=$product.header_features}
                            </div>
                        {/hook}
                    {/hook}
                {/hook}
=======
>>>>>>> 98366e48fbf45a4d3d9a67b3baa6f46cdd3ff868

                {assign var="old_price" value="old_price_`$obj_id`"}
                {assign var="price" value="price_`$obj_id`"}
                {assign var="clean_price" value="clean_price_`$obj_id`"}
                {assign var="list_discount" value="list_discount_`$obj_id`"}
                {assign var="discount_label" value="discount_label_`$obj_id`"}
<<<<<<< HEAD

                {hook name="products:promo_text"}
                {if $product.promo_text}
                <div class="ty-product-block__note-wrapper">
                    <div class="ty-product-block__note ty-product-block__note-inner">
                        {$product.promo_text nofilter}
                    </div>
                </div>
                {/if}
                {/hook}

=======
				
				{assign var="form_open" value="form_open_`$obj_id`"}
				{$smarty.capture.$form_open nofilter}
				
				{*  {hook name="products:main_info_title"}
					<!--{if !$hide_title}
						<h1 class="ty-product-block-title" {live_edit name="product:product:{$product.product_id}"}><bdi>{$product.product nofilter}</bdi></h1>
					{/if}-->

				{/hook} *}
				
              {* {hook name="products:promo_text"}
					{if $product.promo_text}
					<div class="ty-product-block__note-wrapper">
						<div class="ty-product-block__note ty-product-block__note-inner">
							{$product.promo_text nofilter}
						</div>
					</div>
					{/if}
                {/hook} *}
				
>>>>>>> 98366e48fbf45a4d3d9a67b3baa6f46cdd3ff868
                <div class="{if $smarty.capture.$old_price|trim || $smarty.capture.$clean_price|trim || $smarty.capture.$list_discount|trim}prices-container {/if}price-wrap">
                    {if $smarty.capture.$old_price|trim || $smarty.capture.$clean_price|trim || $smarty.capture.$list_discount|trim}
                        <div class="ty-product-prices">
                            {if $smarty.capture.$old_price|trim}{$smarty.capture.$old_price nofilter}{/if}
                    {/if}

                    {if $smarty.capture.$price|trim}
                        <div class="ty-product-block__price-actual">
                            {$smarty.capture.$price nofilter}
                        </div>
                    {/if}

                    {if $smarty.capture.$old_price|trim || $smarty.capture.$clean_price|trim || $smarty.capture.$list_discount|trim}
                            {$smarty.capture.$clean_price nofilter}
                            {$smarty.capture.$list_discount nofilter}
                        </div>
                    {/if}
                </div>
<<<<<<< HEAD

=======
                {if $capture_options_vs_qty}{capture name="product_options"}{$smarty.capture.product_options nofilter}{/if}
                    {assign var="advanced_options" value="advanced_options_`$obj_id`"}
                    {$smarty.capture.$advanced_options nofilter}
                    {if $capture_options_vs_qty}{/capture}{/if}

                
>>>>>>> 98366e48fbf45a4d3d9a67b3baa6f46cdd3ff868
                {if $capture_options_vs_qty}{capture name="product_options"}{$smarty.capture.product_options nofilter}{/if}
                <div class="ty-product-block__option">
                    {assign var="product_options" value="product_options_`$obj_id`"}
                    {$smarty.capture.$product_options nofilter}
                </div>
                {if $capture_options_vs_qty}{/capture}{/if}

                <div class="ty-product-block__advanced-option clearfix">
                    {if $capture_options_vs_qty}{capture name="product_options"}{$smarty.capture.product_options nofilter}{/if}
                    {assign var="advanced_options" value="advanced_options_`$obj_id`"}
                    {$smarty.capture.$advanced_options nofilter}
                    {if $capture_options_vs_qty}{/capture}{/if}
                </div>

<<<<<<< HEAD
                <div class="ty-product-block__sku">
                    {assign var="sku" value="sku_`$obj_id`"}
                    {$smarty.capture.$sku nofilter}
                </div>
=======
               {* <div class="ty-product-block__sku">
                    {assign var="sku" value="sku_`$obj_id`"}
                    {$smarty.capture.$sku nofilter}
                </div> *}
>>>>>>> 98366e48fbf45a4d3d9a67b3baa6f46cdd3ff868

                {if $capture_options_vs_qty}{capture name="product_options"}{$smarty.capture.product_options nofilter}{/if}
                <div class="ty-product-block__field-group">
                    {assign var="product_amount" value="product_amount_`$obj_id`"}
                    {$smarty.capture.$product_amount nofilter}

                    {assign var="qty" value="qty_`$obj_id`"}
                    {$smarty.capture.$qty nofilter}

                    {assign var="min_qty" value="min_qty_`$obj_id`"}
                    {$smarty.capture.$min_qty nofilter}
                </div>
                {if $capture_options_vs_qty}{/capture}{/if}

                {assign var="product_edp" value="product_edp_`$obj_id`"}
                {$smarty.capture.$product_edp nofilter}

                {if $show_descr}
                {assign var="prod_descr" value="prod_descr_`$obj_id`"}
                    <h3 class="ty-product-block__description-title">{__("description")}</h3>
                    <div class="ty-product-block__description">{$smarty.capture.$prod_descr nofilter}</div>
                {/if}

                {if $capture_buttons}{capture name="buttons"}{/if}
                <div class="ty-product-block__button">
                    {if $show_details_button}
                        {include file="buttons/button.tpl" but_href="products.view?product_id=`$product.product_id`" but_text=__("view_details") but_role="submit"}
                    {/if}

                    {assign var="add_to_cart" value="add_to_cart_`$obj_id`"}
                    {$smarty.capture.$add_to_cart nofilter}

                    {assign var="list_buttons" value="list_buttons_`$obj_id`"}
                    {$smarty.capture.$list_buttons nofilter}
                </div>
                {if $capture_buttons}{/capture}{/if}
<<<<<<< HEAD

=======
                
                <!-- shipping product 
                <div class="estimate-block" >
                  <ul>
                    <li class="estimate-delivery">Estimate delivery times: <b>18-36 days</b> (International), <b>5-7</b> days (United States)</li>
                    <li class="returns-accepted"><b>Returns accepted</b> if product not as described, seller pays return shipping;or keep the product & agree refund with seller</li>
                    <li class="payment">Easy payment <b>online</b> or <b>bank wire transfer</b></li>
                  </ul>
                </div> -->
             
>>>>>>> 98366e48fbf45a4d3d9a67b3baa6f46cdd3ff868
                {assign var="form_close" value="form_close_`$obj_id`"}
                {$smarty.capture.$form_close nofilter}

                {hook name="products:product_detail_bottom"}
                {/hook}

                {if $show_product_tabs}
                {include file="views/tabs/components/product_popup_tabs.tpl"}
                {$smarty.capture.popupsbox_content nofilter}
                {/if}
            </div>
        {/if}

    {/hook}
<<<<<<< HEAD
=======
    <!--last product -->
  
>>>>>>> 98366e48fbf45a4d3d9a67b3baa6f46cdd3ff868
    </div>

    {if $smarty.capture.hide_form_changed == "Y"}
        {assign var="hide_form" value=$smarty.capture.orig_val_hide_form}
    {/if}

    {if $show_product_tabs}
        {hook name="products:product_tabs"}
            {include file="views/tabs/components/product_tabs.tpl"}

            {if $blocks.$tabs_block_id.properties.wrapper}
                {include file=$blocks.$tabs_block_id.properties.wrapper content=$smarty.capture.tabsbox_content title=$blocks.$tabs_block_id.description}
            {else}
                {$smarty.capture.tabsbox_content nofilter}
            {/if}
        {/hook}
    {/if}
</div>
<<<<<<< HEAD

<div class="product-details">
</div>

=======
<div class="product-details" style="display:none;">
   <div class="description-block">
      {if $show_descr}
                {assign var="prod_descr" value="prod_descr_`$obj_id`"}
                    <h2> class="ty-product-block__description-title">{__("description")}</h2>
                    <div class="ty-product-block__description">{$smarty.capture.$prod_descr nofilter}</div>
      {/if}
      {** block-description:description **}

{if $product.full_description}
    <div {live_edit name="product:full_description:{$product.product_id}"}>{$product.full_description nofilter}</div>
{else if $product.short_description}
    <div {live_edit name="product:short_description:{$product.product_id}"}>{$product.short_description nofilter}</div>
{/if}
   </div>
   <div class="customer-reviews" style="display:none;">
      <h2>Customer Reviews</h2>
      <div class="row-fluid">
         <div class="span5">
            <div class="average-rating">
               <span class="average-text">Average Rating</span>
			   <span class="rating">4.5</span>
			   <span class="ty-nowrap ty-stars">
			   <a href="#">
			   <i class="ty-stars__icon ty-icon-star"></i>
			   <i class="ty-stars__icon ty-icon-star"></i>
			   <i class="ty-stars__icon ty-icon-star"></i>
			   <i class="ty-stars__icon ty-icon-star"></i>
			   <i class="ty-stars__icon ty-icon-star-empty"></i>
               </a>
			   <a href="#">10 Reviews</a>
			   </span>					
               <div class="rating-progress">
                  <div class="progress-list">	
					  <span class="number-star">5 Star</span>
					  <span class="number-border">	
						<span class="progress-bar" style="width:80%"></span>
					  </span>
					  <span class="percentage">80%</span>
				  </div>
				   <div class="progress-list">	
					  <span class="number-star">4 Star</span>
					  <span class="number-border">	
						<span class="progress-bar" style="width:10%"></span>
					  </span>
					  <span class="percentage">10%</span>
				  </div>
				   <div class="progress-list">	
					  <span class="number-star">3 Star</span>
					  <span class="number-border">	
						<span class="progress-bar" style="width:10%"></span>
					  </span>
					  <span class="percentage">10%</span>
				  </div>
				   <div class="progress-list">	
					  <span class="number-star">2 Star</span>
					  <span class="number-border">	
						<span class="progress-bar" style="width:0%"></span>
					  </span>
					  <span class="percentage">0%</span>
				  </div>
				   <div class="progress-list">	
					  <span class="number-star">1 Star</span>
					  <span class="number-border">	
						<span class="progress-bar" style="width:0%"></span>
					  </span>
					  <span class="percentage">0%</span>
				  </div>
               </div>
            </div>
         </div>
         <div class="span11 customer-rightside" style="display:none;">
           <div class="reviwtop">
           	<h3>Submit your review</h3>
            <span>1. Your rating of this product:</span>
             <span class="ty-nowrap ty-stars">
			   <a href="#">
			   <i class="ty-stars__icon ty-icon-star-empty"></i>
			   <i class="ty-stars__icon ty-icon-star-empty"></i>
			   <i class="ty-stars__icon ty-icon-star-empty"></i>
			   <i class="ty-stars__icon ty-icon-star-empty"></i>
			   <i class="ty-stars__icon ty-icon-star-empty"></i>
               </a>
			</span>
             </div> 
            <div class="reviw-form">
              	<form action="" method="post">
                  <div class="form-field">
                    <input class="span8 form-control" type="text" name="yourname" placeholder="Your Name"/>
                      <input class="span8 form-control" type="email" name="yourname" placeholder="Your Email Address"/>
                   </div>
                   <div class="form-field">
                    <textarea class="span16 form-control" type="text" name="yourname" placeholder="Write your review here..."></textarea>
                   </div>
                    <div class="form-field">
                      <label class="file">
                        <input type="file" id="file" aria-label="File browser example">
                        <span class="file-custom">Add a Photo</span>
                      </label>
                   </div>
                   <div class="form-field">
                      <input class="ty-btn__primary ty-btn" type="submit" value="Submit Review">
                   </div>
                </form>
             </div>
          </div>
      </div>
   </div>
   <div class="review-aboutproduct" style="display:none;">
		<div class="aboutproduct-filter">
			<div class="row-fluid">
				<div class="span8">
					<h4>Customer's Reviews About The Product</h4>
				</div>
				<div class="span8">
					<form action="" method="post">
						<select name="sortby" class="dropdownlist span9">
							<option value="topreview"><b>Sort by:</b> Top Review</option>
							<option value="bottomreview">Bottom Review</option>
							<option value="bottomreview">Bottom Review</option>
							<option value="bottomreview">Bottom Review</option>
							<option value="bottomreview">Bottom Review</option>
						</select>
						<select name="fileterby" class="dropdownlist span7">
							<option value="allstars"><b>Filter by:</b> All Stars</option>
							<option value="bottomreview">Bottom Review</option>
							<option value="bottomreview1">Bottom Review1</option>
							<option value="bottomrevie2">Bottom Review2</option>
							<option value="bottomrevie3">Bottom Review3</option>
						</select>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="reviwelist-block" style="display:none;">
		<div class="reviwe-list">
			<div class="row-fluid">
				<div class="span16">
					<div class="reviwelist-contnet">
						<div class="avatar">
							<img src="/design/themes/responsive/images/reviw-avatar.png" alt=""/>	
						</div>
						<div class="reviwname">
							 <span class="ty-nowrap ty-stars">
							   <a href="#">
							   <i class="ty-stars__icon ty-icon-star"></i>
							   <i class="ty-stars__icon ty-icon-star"></i>
							   <i class="ty-stars__icon ty-icon-star"></i>
							   <i class="ty-stars__icon ty-icon-star"></i>
							   <i class="ty-stars__icon ty-icon-star-empty"></i>
							   </a>
							</span>
							<span>Great sound and very love it!</span>
						</div>
						<div class="reviwauthor">
							 <span class="authorname"><b>by</b> Ron Weasley</span>
							 <span class="hours">15 hours ago</sapn>
						</div>
						<div class="comment-text">
							<p>Whether you like this speaker or not will mainly depend on what you are using it for. For my uses this speaker is darn near perfect. With newer portable devices, I haven't found it necessary to add any extra hardware other than the 3.5mm cable to connect to my smartphone.</p>
							<img src="/design/themes/responsive/images/dummyimg.jpg" alt=""/>	
							<img src="/design/themes/responsive/images/dummyimg.jpg" alt=""/>	
						</div>
						<div class="likelist-icon">
							<a href="#">Comment</a>
							<sapn class="review-helpful">Was this review helpful to you? <a href="#" class="likenumber">12</a></sapn>
						</div>
					</div>
				</div>	
			</div>
		</div>
		<div class="reviwe-list">
			<div class="row-fluid">
				<div class="span16">
					<div class="reviwelist-contnet">
						<div class="avatar">
							<img src="/design/themes/responsive/images/reviw-avatar.png" alt=""/>	
						</div>
						<div class="reviwname">
							 <span class="ty-nowrap ty-stars">
							   <a href="#">
							   <i class="ty-stars__icon ty-icon-star"></i>
							   <i class="ty-stars__icon ty-icon-star"></i>
							   <i class="ty-stars__icon ty-icon-star"></i>
							   <i class="ty-stars__icon ty-icon-star"></i>
							   <i class="ty-stars__icon ty-icon-star-empty"></i>
							   </a>
							</span>
							<span>I heart this little unit</span>
						</div>
						<div class="reviwauthor">   
							 <span class="authorname"><b>by</b> Anna Rooly</span>
							 <span class="hours">Aug 23, 2017</sapn>
						</div>
						<div class="comment-text">
							<p>I bought this primarily for two reasons: It has the Marshall name (even though I'm not certain they actually manufacture it) and because of the aesthetics as compared to all of the other bluetooth speakers (which are, frankly, either unattractively utilitarian or too space-agey to blend well with decor). It's a solid piece of equipment and the analog controls are oddly satisfying to use. Might push a little too much bass, but the sound quality otherwise is pretty decent. Probably as good as you're going to get over bluetooth. Battery life is excellent.</p>	
						</div>
						<div class="likelist-icon">
							<a href="#">Comment</a>
							<sapn class="review-helpful">Was this review helpful to you? <a href="#" class="likenumber">12</a></sapn>
						</div>
					</div>
				</div>	
			</div>
		</div>
	</div>
</div>
>>>>>>> 98366e48fbf45a4d3d9a67b3baa6f46cdd3ff868
{capture name="mainbox_title"}{assign var="details_page" value=true}{/capture}
