<span class="vs-button-spacer">&nbsp;&nbsp;&nbsp;</span>{include file="addons/wishlist/views/wishlist/components/add_to_wishlist.tpl" but_name="dispatch[gift_certificates.wishlist_add]"}
<input type="hidden" name="result_ids" value="cart_status*,wishlist*,account_info*" />
