{strip}
    <div class="ty-top-panel">
        <div id="minimize_block" class="ty-top-panel__wrapper">
<<<<<<< HEAD
            <div class="ty-top-panel__header">
                <div class="ty-top-panel__logo">
                    {if $auth.user_type === "UserTypes::ADMIN"|enum}
                        <a href="{if "ULTIMATE"|fn_allowed_for}{$config.origin_http_location}/{/if}{$config.admin_index}" class="ty-top-panel__logo-link">
                    {/if}
                        <i class="ty-top-panel__icon-basket ty-icon-basket"></i>
                    {if $auth.user_type === "UserTypes::ADMIN"|enum}
                        </a>
                    {/if}
                </div>
                <h4 class="ty-top-panel__title">
                    {$title nofilter}
                </h4>
            </div>
            <div class="ty-top-panel-action">
                <span class="ty-top-panel-action_item">
                    <a href="{$href|fn_url}" class="ty-top-panel-btn cm-no-ajax cm-post">{__("close")}</a>
                </span>
            </div>
        </div>
    </div>
{/strip}
=======
            <div class="ty-top-panel__logo">
                <i class="ty-top-panel__icon-basket ty-icon-basket"></i>
            </div>
            <h4 class="ty-top-panel__title">
                {$title nofilter}
            </h4>
            <div class="ty-top-panel-action">
                <span class="ty-top-panel-action_item">&nbsp;</span>
                <a href="{$href|fn_url}" class="ty-top-panel__close ty-top-panel-action_item cm-confirm"><i class="ty-icon-cancel"></i></a>
            </div>
        </div>
    </div>
{/strip}
>>>>>>> 98366e48fbf45a4d3d9a67b3baa6f46cdd3ff868
