<div class="control-group">
    <label for="notify_supplier" class="checkbox">{__("notify_supplier")}
<<<<<<< HEAD
    <input type="checkbox" name="notify_supplier" id="notify_supplier" value="Y" /></label>
=======
    <input type="checkbox" class="" name="notify_supplier" id="notify_supplier" value="Y" /></label>
>>>>>>> 98366e48fbf45a4d3d9a67b3baa6f46cdd3ff868
</div>
