#addon_energothemes_searchinstalled,
#addon_dropdown_imageinstalled,
#addon_energothemes_licenseinstalled,
#addon_energothemes_ie9fixinstalled,
#addon_energothemes_search,
#addon_dropdown_image,
#addon_energothemes_license,
#addon_energothemes_ie9fix,
#addon_energothemes_vivashop_addon,
#addon_energothemes_energot_addon,
#addon_energothemes_vivashop_addoninstalled,
#addon_energothemes_energot_addoninstalled{
	.addon-info{
		.addon-supplier{
			text-decoration: none;
			text-transform: none;
			color: #08c;
		}
	}
}