.ty-sd_messaging_system {
    &-message {
        position: relative;
        width: 100%;
        display: inline-block;
        vertical-align: top;

        &__content {
            margin-top: 15px;
            margin-bottom: 2px;
            padding-left: 70px;
            position: relative;
            white-space: normal;

            a {
                display: block;
                position: relative;
            }
        }

        &__message {
            word-break: break-word;
        }

        &__date {
            margin-left: 5px;
            opacity: .5;
            font-weight: normal;
        }

        &__user-image {
            border-radius: 50%;
        }

        &__author {
            display: inline-block;
            position: absolute;
            left: 0;
            top: 0;

            img {
                border-radius: 50%;
                border: 2px solid @borderColor;
            }

            .ty-no-image {
                width: 46px;
                height: 46px;
                background: white;
                border: none;
                display: inline-block;
                min-width: 0;
                border-radius: 50%;
            }
        }
    }

    &-tickets-list {
        &__ticket-new {
            border: 2px solid @newTicket;
        }
    }

    &-recipient-user {
        &__image {
            display: inline-block;
            vertical-align: top;
            padding: 9px 7px 8px;
            margin-left: 15px;
            padding-right: 19px;

            img,
            .ty-no-image {
                border-radius: 50%;
            }
        }

        &__name {
            margin-bottom: 5px;
            margin-top: 4px;
            display: block;
            font-weight: 600;

            .ty-sd_messaging_system-last-message__date {
                margin-left: 7px;
            }
        }
    }

    &-name {
        font-weight: bold;
    }

    &-textarea {
        resize: none;
        margin-bottom: 10px;
        box-sizing: border-box;
        transition: all 150ms;
        width: 100%;
        height: 52px;
    }

    &-all {
        position: relative;
        display: inline-block;
        clear: both;
        margin-bottom: 3px;
        padding: 10px;
        vertical-align: top;
        border-radius: 5px;
        background-color: @messageBlock;

        &:before {
            position: absolute;
            top: 19px;
            display: block;
            width: 8px;
            height: 8px;
            content: '\00a0';
            -webkit-transform: rotate(29deg) skew(-35deg);
            transform: rotate(29deg) skew(-35deg);
        }
    }
}

.ty-sd_messaging {
    &__ticket-new {
        background: @rgbaBlue;
    }

    &-no-image__circle {
        fill: white;
        stroke: @borderColor;
        stroke-width: 3px;
    }

    &-no-image__fill {
        fill: @borderColor;
        fill-rule: evenodd;
    }
}

.ty-discussion-post {
    &__buttons-form {
        margin: 0 auto;
        float: none;
    }

    &__form {
        max-width: 680px;
        margin: 0 auto;
        font-size: 0;
    }
}

.ty-discussion-post__form [disabled=disabled] {
    opacity: 0.5;
    pointer-events: none;
}

.ticket-messages {
    &-block {
        position: relative;

        &:before {
            content: "";
            height: 100%;
            vertical-align: bottom;
        }

        & + .ty-discussion-post__buttons {
            z-index: 10;
            border-top: 1px solid @borderColor;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 251px;
        }
    }

    &-list {
        height: auto;
        overflow-y: auto;
        overflow-x: hidden;
        display: block;
        position: relative;

        @media @tablet-max {
            min-width: 0;
        }
    }
}

.recipient-message {
    margin-left: 50px;
    margin-right: 120px;
    
    .ty-sd_messaging_system-all {
        margin-right: 30px;

        &:before {
            left: -3px;
            background-color: @messageBlock;
        }
    }
}

.author-message {
    padding-left: 0;
    padding-right: 70px;
    padding-left: 120px;
    margin-right: 50px;
    text-align: right;

    .ty-sd_messaging_system-message__author {
        left: auto;
        right: 0;
    }

    .ty-sd_messaging_system-name {
        float: right;
        text-align: left;
    }

    .ty-sd_messaging_system-message__date {
        margin-right: 5px;
        float: left;
    }

    .ty-sd_messaging_system-all {
        padding-right: 20px;
        padding-left: 20px;

        &:before {
            right: -3px;
            background-color: @messageBlock;
        }
    }
}

.short-message-container {
    cursor: pointer;
}

.new-message {
    color: @newTicketColor;
    font-weight: 600;
}

.ty-helper-container .tygh-content .messages-list {
    min-height: ~"calc(100vh - 515px)";
    padding-top: 40px;
}

@media @tablet-max {
    .ticket-messages {
        &_list {
            max-width: ~"calc(100% - 20px)";
        }
    }

    .ticket_messages {
        min-height: ~"calc(100vh - 434px)";
    }

    .ticket_messages_list {
        padding-bottom: 211px;
        width: ~"calc(100% - 20px)";
    }

    .ty-sd_messaging_system {
        &-textarea {
            float: left;
            width: 100%;
        }

        &-message__author {
            .author-message & {
                right: 5px;
            }
        }
    }
}

.ty-last-message {
    word-break: break-word;
}

.ty-no-messages {
    padding-left: 362px;
}

.ty-sd_messaging__list-linked .ty-sd_messaging__wrapper:focus,
.ty-sd_messaging__list-linked .ty-sd_messaging__wrapper:hover {
    background-color: @listLinkedMessage;
}

.ty-sd_messaging_system-recipient-user__image, .ty-sd_messaging__body {
    display: table-cell;
    vertical-align: middle;
}

.ty-sd_messaging_system-recipient-user__image img:not(.media-preview),
.media-right img:not(.media-preview),
.thumbnail .ty-sd_messaging img:not(.media-preview) {
    max-width: none;
}

.ty-sd_messaging, .ty-sd_messaging__body {
    position: relative;
}

.buttons-container {
    padding: 17px 20px;
    margin-bottom: 0;
    background: @buttonsContainerBackground;
}

.btn-right {
    float: right;
}

.btn-refresh {
    &,
    &:hover,
    &:active {
        background: transparent;
        margin-left: 10px;
        border: 0;
        color: #333;
        box-shadow: none;
    }

    i {
        margin-right: 7px;
    }
}

.btn-refresh [class^="icon-"] {
    color: #333;
}

svg.no-image-icon {
    overflow: visible;
}

.forbidden-words-table {
    width: 50%;
}