@cMessageBorder: #e7e8ec;
@borderColor: #d2dae2;
@newTicket: #ff4136;
@lastMessageDate: #999;
@messageBlock: #eceff1;
@buttonsContainerBackground: #f6f7f8;
@listLinkedMessage: #f7f7f7;
@lightGray: #eee;
@rgbaBlue: rgba(0,0,255,0.05);

@tablet-max: ~"(max-width: 767px)";