// Dashboard
.dashboard {
    display: block;
    margin-top: 13px;
    max-width: 1300px;
    margin: 0 auto;
    h4 {
        margin-top: 0;
    }
    table {
        margin-bottom: 0;
    }
    .date {
        color: @grayLight;
        font-size: 11px;
    }
}
.dashboard-cards {
    vertical-align: top;
}
.dashboard-card {
    background: #fff;
    background-color: #fff;
    border: 1px solid #e0e7ef;
    .border-radius(@baseBorderRadius);
    .box-shadow(0 1px 1px rgba(0,0,0,.05));
    text-align: center;
    margin-bottom: 20px;
}
.dashboard-card-title {
    padding: 0 12px;
    background-color: #fcfcfc;
    border-bottom: 1px solid #e0e7ef;
    color: #798c9c;
    text-align: center;
    line-height: 24px;
    .border-radius(@baseBorderRadius @baseBorderRadius 0 0)
}
.dashboard-card-content {
    padding: 0 10px 6px;
    color: #999;
    h3 {
        margin: 0 0 -5px;
        color: #333;
        font-size: 24px;
        line-height: 1.6em;
        font-weight: 400;
    }
}
.dashboard-main-column {
    display: table-cell;
    vertical-align: top;
}
.dashboard-row {
    display: inline-block;
    width: 100%;
    h4 {
        margin-bottom: 16px;
    }
    > div {
        background: #fff;
        padding: 20px;
        background-color: #fff;
        border: 1px solid #e0e7ef;
        .border-radius(@baseBorderRadius);
        .box-shadow(0 1px 1px rgba(0,0,0,.05));
    }
}
.dashboard-recent-orders {
    float: left;
    width: 100%;
    margin-bottom: 30px;
    .nav-pills {
        margin-bottom: 8px;
    }
    &.tabs {
        margin-top: 0;
    }
    .tab-content {
        overflow: visible;
    }
    table h4 {
        margin: 2px 0;
        font-weight: 400;
    }
    td:first-child {
        padding-left: 0;
    }
}
.dashboard-statistics {
    float: right;
    width: 100%;
    margin-bottom: 30px;
    .nav-tabs {
        margin-bottom: 0;
    }
    .tabs {
        margin-top: 18px;
    }
}
.dashboard-statistics-chart {
    width: 100%;
    height: 241px;
}
<<<<<<< HEAD
.dashboard-row-top {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}

.dashboard-vendors-activity {
    width: 100%;

    &__label {
        width: 67%;
    }
    &__value {
        width: 33%;
    }
    td&__value {
        text-align: right;
    }
}
=======
>>>>>>> 98366e48fbf45a4d3d9a67b3baa6f46cdd3ff868
.dashboard-row-bottom {
    display: inline-block;
    width: 100%;
    h4 {
        margin-bottom: 16px;
    }
}
.dashboard-table {
    display: table;
    float: left;
    margin-right: 18px;
    background: #fff;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #e0e7ef;
    .border-radius(@baseBorderRadius);
    .box-shadow(0 1px 1px rgba(0,0,0,.05));
    .table-wrap {
        .border-radius(@baseBorderRadius);
        border: 1px solid #e0e7ef;
    }
}
.scrollable-table {
    overflow-x: auto;
    max-height: 111px;
}
.dashboard-table-top-search {
    margin-right: 35px;
    width: 48%;
}
.dashboard-table-order-by-statuses {
    margin-right: 0;
    width: 48%;
}
.dashboard-activity {
    float: right;
    width: 48%;
    background: #fff;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #e0e7ef;
    .border-radius(@baseBorderRadius);
    .box-shadow(0 1px 1px rgba(0,0,0,.05));
    .dashboard-activity-list {
        .border-radius(@baseBorderRadius);
        overflow-y: scroll;
        height: 100%;
        min-height: 36px;
        max-height: 149px;
        border: 1px solid #e0e7ef;
        .item {
            padding: 7px 10px;
            border-top: 1px solid #eee;
            line-height: 16px;
            &:first-child {
                border-top: none;
            }
        }
        > div:nth-child(odd) {
          background: @tableBackgroundAccent;
        }
    }
}
.dashboard-table-top-sellers {
    margin-left: 18px;
    float: right;
    margin-right: 0;
    width: 425px;
}
.goog-tooltip {
    div {
        background: #fff !important;
        border: 1px solid #ccc !important;
        color: #000 !important;
    }
}

// daterange
.dashboard-statistics .reportrange {
    padding-top: 6px;
}
.dashboard-table-order-by-statuses .reportrange {
    position: relative;
    top: -2px;
<<<<<<< HEAD
}

// dashboard skeleton
.dashboard-skeleton {
    display: flex;
    justify-content: space-between;

    width: 100%;
}

.dashboard-skeleton__left-side,
.dashboard-skeleton__right-side {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    width: 100%;
}

.dashboard-skeleton__left-side {
    max-width: 281px;
    width: 23.404255319149%;
}

.dashboard-skeleton__right-side {
    max-width: 894px;
    width: 74.468085106383%;
}

.dashboard-skeleton__mockup {
    width: 100%;
    min-height: 86px;

    border: 1px solid #e0e7ef;
    border-radius: 3px;

    margin-bottom: 20px;

    box-shadow: 0 1px 1px rgba(0,0,0,0.05);

    animation: dashboard-mockup-blink 2s linear infinite;
}

.dashboard-skeleton__mockup--smaller {
    min-height: 66px;
}

.dashboard-skeleton__mockup--large {
    min-height: 370px;
    margin-bottom: 30px;
}

.dashboard-skeleton__mockup--large-half {
    min-height: 220px;
    width: 428px;
}

@media (max-width: 767px) {
    .dashboard-skeleton {
        flex-direction: column;
        justify-content: initial;
    }

    .dashboard-skeleton__left-side,
    .dashboard-skeleton__right-side {
        width: 100%;
        max-width: unset;

        justify-content: space-between;
    }

    .dashboard-skeleton__left-side {
        flex-direction: row;
    }

    .dashboard-skeleton__mockup {
        width: 48.5%;
        margin: 0 0 3% 0;
    }

    .dashboard-skeleton__mockup--large,
    .dashboard-skeleton__mockup--large-half {
        width: 100%;
    }
}

@media (max-width: 400px) {
    .dashboard-skeleton__mockup {
        width: 100%;
    }
}

@keyframes dashboard-mockup-blink {
  50% {
    background-color: rgba(238, 238, 238, 0.479);
  }
}
=======
}
>>>>>>> 98366e48fbf45a4d3d9a67b3baa6f46cdd3ff868
