<<<<<<< HEAD
@media (max-width: @TabletBreakpoint) {
=======
@media (max-width: 767px) {
>>>>>>> 98366e48fbf45a4d3d9a67b3baa6f46cdd3ff868

    .table-exim tr {
        column-count: 3;
        column-width: auto;
        display: block;
    }

    .table-exim th, .table-exim td {
        display: block;
    }

    .table-exim td {
        margin-bottom: 35px;
    }
}

<<<<<<< HEAD
@media (max-width: @PhoneBreakpoint) {
=======
@media (max-width: 480px) {
>>>>>>> 98366e48fbf45a4d3d9a67b3baa6f46cdd3ff868
    .table-exim tr {
        column-count: 2;
    }
}