@quantity_sold : #CC4020;
.wk-product-sold-label{
    position: absolute;
    bottom: 0px;
    right: 0px;
    background: @secondary_button;
    color: white;
    z-index: 1;
    .wk-product-label-item{
        float: left;
        height: 30px;
        font-size: 14px;
        white-space: nowrap;
        line-height: 28px;
        padding: 0 10px 0 12px;
        color: #fff;
        font-weight: 600;
    }
}
.ty-product-block .wk-product-sold-label{
    z-index: 1;
    bottom: 5px;
    right: 5px;
}
.ty-product-block .wk-product-label-item{
    height: 35px;
    font-size: 16px;
    line-height: 33px;
    padding: 0 16px 0 17px;
}
.ty-compact-list__image{
    position: relative !important;
}
.template-small-item .wk-product-label-item{
    font-size: 12px !important;
    padding: 0 5px 0 5px !important;
    height: 25px;
    line-height: 25px;
}
.vs-grid .scroll-image{
    position: relative;
}
.vs-grid .wk-product-sold-label{
    position: absolute;
    bottom: 5px;
    right: 5px;
}
.wk-product-sold-amount{
    color: @secondary_button;
}