<<<<<<< HEAD
<div class="litecheckout__group">
    <div class="litecheckout__field">
        {if $cart.user_data.phone}
            {$phone = $cart.user_data.phone}
        {else}
            {if $cart.user_data.b_phone && !$cart.user_data.s_phone}
                {$phone = $cart.user_data.b_phone}
            {elseif !$cart.user_data.b_phone && $cart.user_data.s_phone}
                {$phone = $cart.user_data.s_phone}
            {elseif $cart.user_data.b_phone && $cart.user_data.s_phone}
                {if $settings.Checkout.address_position == "billing_first"}
                    {$phone = $cart.user_data.b_phone}
                {else}
                    {$phone = $cart.user_data.s_phone}
                {/if}
            {else}
                {$phone = ""}
            {/if}
        {/if}
        <input id="customer_phone" size="35" type="tel" name="payment_info[customer_phone]" value="{$phone}" class="ty-input-text cm-autocomplete-off litecheckout__input cm-mask-phone" placeholder=" "/>
        <label for="customer_phone" class="ty-control-group__title litecheckout__label cm-mask-phone-label">{__("phone")}</label>
    </div>
=======
<div class="ty-control-group">
    {if $cart.user_data.phone}
        {assign var="phone" value=$cart.user_data.phone}
    {else}
        {if $cart.user_data.b_phone && !$cart.user_data.s_phone}
            {assign var="phone" value=$cart.user_data.b_phone}
        {elseif !$cart.user_data.b_phone && $cart.user_data.s_phone}
            {assign var="phone" value=$cart.user_data.s_phone}
        {elseif $cart.user_data.b_phone && $cart.user_data.s_phone}
            {if $settings.Checkout.address_position == "billing_first"}
                {assign var="phone" value=$cart.user_data.b_phone}
            {else}
                {assign var="phone" value=$cart.user_data.s_phone}
            {/if}
        {else}
            {assign var="phone" value=""}
        {/if}
    {/if}
    <label for="customer_phone" class="ty-control-group__title">{__("phone")}</label>
    <input id="customer_phone" size="35" type="text" name="payment_info[customer_phone]" value="{$phone}" class="ty-input-text cm-autocomplete-off" />
>>>>>>> 98366e48fbf45a4d3d9a67b3baa6f46cdd3ff868
</div>
