.sd_product_data_moderation-table_descr {
    padding-left: 11px;
}

.sd_product_data_moderation-td_descr {
    vertical-align: top !important;
}

.del_text_diff {
    color:red;
    background:#fdd;
    text-decoration:none;
}

.ins_text_diff {
    color:green;
    background:#dfd;
    text-decoration:none;
}