<div class="form-horizontal">
    <div class="control-group">
        <label class="control-label" >{__("reason")}:</label>
        <div class="controls">
            <textarea name="action_reason_{$type}" id="action_reason_{$type}" cols="50" rows="4" class="input-text"></textarea>
        </div>
    </div>
</div>